pipeline/PPL_PCF_WEEKLY.json
{
  "name" : "PPL_PCF_WEEKLY",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'File_from_PCF_Dropzone_ContainerName' AND PIPELINE_NAME = 'PCF_WEEKLY' AND DATAFLOW_NAME = 'New_PCF_File_Format42_') AS File_from_PCF_Dropzone_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'File_from_PCF_Dropzone_FileName' AND PIPELINE_NAME = 'PCF_WEEKLY' AND DATAFLOW_NAME = 'New_PCF_File_Format42_') AS File_from_PCF_Dropzone_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'File_from_PCF_Dropzone_FilePath' AND PIPELINE_NAME = 'PCF_WEEKLY' AND DATAFLOW_NAME = 'New_PCF_File_Format42_') AS File_from_PCF_Dropzone_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_SchemaName' AND PIPELINE_NAME = 'PCF_WEEKLY' AND DATAFLOW_NAME = 'New_PCF_File_Format42_') AS Sharepoint_TAS_Buildpacks_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_TableName' AND PIPELINE_NAME = 'PCF_WEEKLY' AND DATAFLOW_NAME = 'New_PCF_File_Format42_') AS Sharepoint_TAS_Buildpacks_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__source_SchemaName' AND PIPELINE_NAME = 'PCF_WEEKLY' AND DATAFLOW_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format42_') AS Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__source_TableName' AND PIPELINE_NAME = 'PCF_WEEKLY' AND DATAFLOW_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format42_') AS Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__sink_SchemaName' AND PIPELINE_NAME = 'PCF_WEEKLY' AND DATAFLOW_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format42_') AS Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__sink_TableName' AND PIPELINE_NAME = 'PCF_WEEKLY' AND DATAFLOW_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format42_') AS Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "TodaysDate_File_144__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DELETE  from [Sharepoint_TAS_Buildpacks]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "TodaysDate_File43__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "TodaysDate_File_144__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "SELECT \n convert(varchar(8),cast(currentdate as date),112) Friday\nFROM \ndbo.calendar\nwhere cast(Getdate() as date) = cast(currentdate as date)"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_TodaysDate_File43__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "TodaysDate_File43__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "sFileDate",
        "value" : "@activity('TodaysDate_File43__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "New_PCF_File_Format42_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_TodaysDate_File43__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "New_PCF_File_Format42_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "New_PCF_File_Format42_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "New_PCF_File_Format42_",
          "type" : "DataFlowReference",
          "parameters" : {
            "sNewFileName" : {
              "type" : "Expression",
              "value" : "'TAS_Buildpack_Status__NEW.csv'"
            },
            "sFileDate" : {
              "type" : "Expression",
              "value" : "''"
            },
            "FileName" : {
              "type" : "Expression",
              "value" : "'PCF_Buildpack_Mappings_All_'"
            },
            "FoundFile" : {
              "type" : "Expression",
              "value" : "''"
            }
          },
          "datasetParameters" : {
            "SharepointTASBuildpacks" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.SharepointTASBuildpacks_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.SharepointTASBuildpacks_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "FilefromPCFDropzone" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.FilefromPCFDropzone_ContainerName",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.FilefromPCFDropzone_FileName",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.FilefromPCFDropzone_FilePath",
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Sharepoint_TAS_Buildpacks_New_PCF_File_Format42_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "New_PCF_File_Format42_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Sharepoint_TAS_Buildpacks_New_PCF_File_Format42__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest/COO_VulnPackages"
    },
    "parameters" : { },
    "variables" : {
      "sFileDate" : {
        "type" : "string"
      }
    }
  }
}