pipeline/PPL_iTracker_TCOO_Daily4D_3.json
{
  "name" : "PPL_iTracker_TCOO_Daily4D_3",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Active_Data297_') AS iTracker_Query_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Active_Data297_') AS iTracker_Query_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Active_Data297_') AS iTracker_Active_SN_CIO_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Active_Data297_') AS iTracker_Active_SN_CIO_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Validated_Data302_') AS iTracker_Query_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Validated_Data302_') AS iTracker_Query_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_1_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Validated_Data302_') AS iTracker_Query_1_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_1_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Validated_Data302_') AS iTracker_Query_1_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Last_Validated_Lookup_LKP_TABLE_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Validated_Data302_') AS Last_Validated_Lookup_LKP_TABLE_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Last_Validated_Lookup_LKP_TABLE_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Validated_Data302_') AS Last_Validated_Lookup_LKP_TABLE_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Validated_Data302_') AS Validated_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Validated_Data302_') AS Validated_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data297__source_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data297_') AS iTracker_Active_SN_CIO_iTracker_Active_Data297__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data297__source_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data297_') AS iTracker_Active_SN_CIO_iTracker_Active_Data297__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data297__sink_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data297_') AS iTracker_Active_SN_CIO_iTracker_Active_Data297__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data297__sink_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data297_') AS iTracker_Active_SN_CIO_iTracker_Active_Data297__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_iTracker_Validated_Data302__source_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'Validated_iTracker_Validated_Data302_') AS Validated_iTracker_Validated_Data302__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_iTracker_Validated_Data302__source_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'Validated_iTracker_Validated_Data302_') AS Validated_iTracker_Validated_Data302__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_iTracker_Validated_Data302__sink_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'Validated_iTracker_Validated_Data302_') AS Validated_iTracker_Validated_Data302__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_iTracker_Validated_Data302__sink_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_3' AND DATAFLOW_NAME = 'Validated_iTracker_Validated_Data302_') AS Validated_iTracker_Validated_Data302__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Get_Time_Stamp_Execution_Path300__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "select \ncase \nwhen DATEPART(hour,getdate() ) between 8 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 18 then 2\nelse 0 end as ExecuteSeriesFlag\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_Time_Stamp_Execution_Path300__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_Time_Stamp_Execution_Path300__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ExecuteSeriesFlag",
        "value" : "@activity('Get_Time_Stamp_Execution_Path300__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Data_Imported_from_iTracker_into_Database294_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path300__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('ExecuteSeriesFlag'),1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Data_Imported_from_iTracker_into_Database294__Dele",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "delete FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\n\n  where  cast(ImportDate as date) = cast(getdate() as date)"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "iTracker_Active_Data297_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Data_Imported_from_iTracker_into_Database294__Dele",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_abc",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "iTracker_Active_Data297_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "iTracker_Active_Data297_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource",
              "sqlReaderQuery" : "SELECT * ,DATEADD(\"day\",0,GETDATE()) AS ImportDate FROM COOITRACKER2.DBO.VSORFEEDSPRIMARY WITH (NOLOCK) WHERE (CTONAME IN ('RALPH GROCE','RAJAMANICKAM IYER','ROBERT OKAI','NON-MAPPED','JONATHAN FEIN') OR SN_CIO IN ('TECHCOO - TECHNOLOGY CHIEF OPERATING OFFICE','TECHCDOT - TECHNOLOGY DATA')) AND STATUS = 'ACTIVE' AND RESPONSIBLEPARTY = 'APP' UNION ALL SELECT * FROM [COOITRACKER2].[DBO].[VSORFEEDSPRIMARY] WITH (NOLOCK) WHERE STATUS = 'ACTIVE' AND RESPONSIBLEPARTY != 'APP'AND ( TECHMANAGERNAME IN ('BAOHUA QIAO','BART MYSZKOWSKI','BEDROS YESSAIAN','DAVID KRAUSSE','KAMALAKAR BUSAM','MIKHAIL TSIONSKIY','RAJESH VELAMALA','STAN SOBOL','PEDRO SANTOS', 'ROBERTO REYES','SWETHA MANDA') OR SN_CIO IN ('TECHCOO - TECHNOLOGY CHIEF OPERATING OFFICE','TECHCDOT - TECHNOLOGY DATA')) ) SELECT DISTINCT * FROM CTE"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_SRC",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "iTracker_Active_SN_CIO_iTracker_Active_Data297_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "iTracker_Active_Data297_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data297__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data297__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data297__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data297__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "iTracker_Active_Data297__iTracker_Active_SN_CIO",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "iTracker_Active_SN_CIO_iTracker_Active_Data297_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "CountRowsToInsert",
            "value" : "@int(activity('iTracker_Active_Data297_').output.runStatus.metrics.iTracker_Active_SN_CIO.rowsWritten)"
          }
        }, {
          "name" : "Count_Inserted295__LOOKUP",
          "type" : "Lookup",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "iTracker_Active_SN_CIO_iTracker_Active_Data297_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlSource",
              "sqlReaderStoredProcedureName" : null,
              "sqlReaderQuery" : "SELECT combid FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\nWHERE CAST(IMPORTDATE AS DATE) = CAST(GETDATE() AS DATE)",
              "storedProcedureParameters" : null,
              "queryTimeout" : "02:00:00",
              "partitionOption" : "None"
            },
            "dataset" : {
              "referenceName" : "Generic_OLEDB_DS_SRC",
              "type" : "DatasetReference"
            }
          }
        }, {
          "name" : "Count_Inserted295__Todays_Inserted_Rowcount",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "iTracker_Active_SN_CIO_iTracker_Active_Data297_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "CountInsertedRecords",
            "value" : "@int(activity('Count_Inserted295__LOOKUP').output.firstRow.cnt)"
          }
        }, {
          "name" : "Data_Imported_from_iTracker_into_Database294__Upda",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Count_Inserted295__Todays_Inserted_Rowcount",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "iTracker_Active_Data297__iTracker_Active_SN_CIO",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "Count_Inserted295__LOOKUP",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "\n  update \n  [PLHS].[dbo].[iTracker_Active_SN_CIO]\n  set Rating =   replace(replace(replace(Rating,'; High; High','High'),'; High','High'),'0','Low')\n  where cast(ImportDate as date) = cast(getdate() as date)\n\n;"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    }, {
      "name" : "Validated_record_Import301_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path300__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('ExecuteSeriesFlag'),2)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "iTracker_Validated_Data302_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_abc",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "iTracker_Validated_Data302_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "iTracker_Validated_Data302_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "iTracker_Validated_Data302_",
              "type" : "DataFlowReference",
              "parameters" : {
                "ExecuteSeriesFlag" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "sRAndSEmailAddress" : {
                  "type" : "Expression",
                  "value" : "'TCOONoReply@wellsfargo.com'"
                },
                "CountRowsToInsert" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "CountInsertedRecords" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : {
                "Validated" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "iTrackerQuery" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTrackerQuery_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTrackerQuery_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "iTracker Query",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "LastValidatedLookupLKPTABLE" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.LastValidatedLookupLKPTABLE_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.LastValidatedLookupLKPTABLE_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Last Validated Lookup",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "Validated_iTracker_Validated_Data302_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "iTracker_Validated_Data302_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_iTracker_Validated_Data302__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_iTracker_Validated_Data302__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_iTracker_Validated_Data302__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_iTracker_Validated_Data302__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ]
      }
    }, {
      "name" : "IFACTIVITY_Failure_Mail299_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Data_Imported_from_iTracker_into_Database294_",
        "dependencyConditions" : [ "Completed" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@not(equals(variables('CountInsertedRecords'),variables('CountRowsToInsert')))",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Failure_Mail299_",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_abc",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        } ]
      }
    }, {
      "name" : "Failure_Mail299_",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Validated_record_Import301_",
        "dependencyConditions" : [ "Failed" ]
      }, {
        "activity" : "0_Get_Time_Stamp_Execution_Path300__VA",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest/Vulnerability_ETL_v2022"
    },
    "parameters" : { },
    "variables" : {
      "CountRowsToInsert" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "CountInsertedRecords" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "ExecuteSeriesFlag" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "sRAndSEmailAddress" : {
        "type" : "string",
        "defaultValue" : "'TCOONoReply@wellsfargo.com'"
      }
    }
  }
}