pipeline/PPL_CARDB_PrismaCloudVulns.json
{
  "name" : "PPL_CARDB_PrismaCloudVulns",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL1_') AS vwPrisma_Enriched_Infra_DateFiltered_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL1_') AS vwPrisma_Enriched_Infra_DateFiltered_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL1_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL1_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL_12_') AS vwPrisma_Enriched_Infra_DateFiltered_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL_12_') AS vwPrisma_Enriched_Infra_DateFiltered_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL_12_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL_12_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_Prisma_Enriched_TCOO_TDATA_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ValidatedData3_') AS tbl_Prisma_Enriched_TCOO_TDATA_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_Prisma_Enriched_TCOO_TDATA_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ValidatedData3_') AS tbl_Prisma_Enriched_TCOO_TDATA_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ValidatedData3_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ValidatedData3_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL1__source_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL1_') AS OLE_DB_Destination_Prisma_ETL1__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL1__source_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL1_') AS OLE_DB_Destination_Prisma_ETL1__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL1__sink_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL1_') AS OLE_DB_Destination_Prisma_ETL1__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL1__sink_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL1_') AS OLE_DB_Destination_Prisma_ETL1__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL_12__source_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL_12_') AS OLE_DB_Destination_Prisma_ETL_12__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL_12__source_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL_12_') AS OLE_DB_Destination_Prisma_ETL_12__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL_12__sink_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL_12_') AS OLE_DB_Destination_Prisma_ETL_12__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL_12__sink_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL_12_') AS OLE_DB_Destination_Prisma_ETL_12__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ValidatedData3__source_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ValidatedData3_') AS OLE_DB_Destination_ValidatedData3__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ValidatedData3__source_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ValidatedData3_') AS OLE_DB_Destination_ValidatedData3__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ValidatedData3__sink_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ValidatedData3_') AS OLE_DB_Destination_ValidatedData3__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ValidatedData3__sink_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ValidatedData3_') AS OLE_DB_Destination_ValidatedData3__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Prisma_ETL1_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Prisma_ETL1_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma_ETL1_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Prisma_ETL1_",
          "type" : "DataFlowReference",
          "parameters" : {
            "Variable1" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "Variable" : {
              "type" : "Expression",
              "value" : "0"
            },
            "ExecutionFlag" : {
              "type" : "Expression",
              "value" : "0"
            },
            "StageViewCount" : {
              "type" : "Expression",
              "value" : "0"
            }
          },
          "datasetParameters" : {
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "vwPrismaEnrichedInfraDateFiltered" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "vwPrisma_Enriched_Infra_DateFiltered",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "OLE_DB_Destination_Prisma_ETL1_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma_ETL1_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL1__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL1__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL1__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL1__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "Prisma_ETL_12_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_Prisma_ETL1_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Prisma_ETL_12_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma_ETL_12_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Prisma_ETL_12_",
          "type" : "DataFlowReference",
          "parameters" : {
            "Variable1" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "Variable" : {
              "type" : "Expression",
              "value" : "0"
            },
            "ExecutionFlag" : {
              "type" : "Expression",
              "value" : "0"
            },
            "StageViewCount" : {
              "type" : "Expression",
              "value" : "0"
            }
          },
          "datasetParameters" : {
            "vwPrismaEnrichedInfraDateFiltered" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "vwPrisma_Enriched_Infra_DateFiltered",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "OLE_DB_Destination_Prisma_ETL_12_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma_ETL_12_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL_12__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL_12__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL_12__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL_12__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "ValidatedData3_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_Prisma_ETL_12_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "ValidatedData3_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "ValidatedData3_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlsource",
          "sqlReaderQuery" : "Declare @inspectiondate date = (select max(import_date) from [tbl_Prisma_Enriched_TCOO_TDATA] ) Declare @PrevDate date = (select max(import_date) from [tbl_Prisma_Enriched_TCOO_TDATA] where Import_Date <@inspectiondate) select  A.UID, A.[DB_ID], @inspectiondate as ValidatedDate from  [dbo].[tbl_Prisma_Enriched_TCOO_TDATA] a left outer join [tbl_Prisma_Enriched_TCOO_TDATA]  b on a.UID = B.UID AND B.IMPORT_DATE = @inspectiondate where cast(A.import_date as date) = @PrevDate AND B.UID IS NULL"
        },
        "sink" : {
          "type" : "AzureSqlSink",
          "writeBehavior" : "insert",
          "sqlWriterUseTableLock" : false
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_SRC",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "OLE_DB_Destination_ValidatedData3_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "ValidatedData3_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ValidatedData3__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ValidatedData3__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ValidatedData3__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ValidatedData3__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest"
    },
    "parameters" : { },
    "variables" : { }
  }
}