pipeline/PPL_OutofBandImport.json
{
  "name" : "PPL_OutofBandImport",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OOB_Report_ContainerName' AND PIPELINE_NAME = 'OutofBandImport' AND DATAFLOW_NAME = 'Data_Flow_Task40_') AS OOB_Report_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OOB_Report_FileName' AND PIPELINE_NAME = 'OutofBandImport' AND DATAFLOW_NAME = 'Data_Flow_Task40_') AS OOB_Report_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OOB_Report_FilePath' AND PIPELINE_NAME = 'OutofBandImport' AND DATAFLOW_NAME = 'Data_Flow_Task40_') AS OOB_Report_FilePath;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Data_Flow_Task40_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Data_Flow_Task40_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Data_Flow_Task40_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Data_Flow_Task40_",
          "type" : "DataFlowReference",
          "parameters" : { },
          "datasetParameters" : {
            "OOBReport" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OOBReport_ContainerName",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OOBReport_FileName",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OOBReport_FilePath",
                "type" : "Expression"
              },
              "ColumnDelimiter" : null
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest/COO_VulnPackages"
    },
    "parameters" : { },
    "variables" : { }
  }
}