pipeline/PPL_iTracker_TCOO_Daily4D_2.json
{
  "name" : "ppl_itracker_tcoo_daily4d_2",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_Data213_') AS iTracker_Query_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_Data213_') AS iTracker_Query_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_Data213_') AS iTracker_Active_SN_CIO_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_Data213_') AS iTracker_Active_SN_CIO_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_Data218_') AS iTracker_Query_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_Data218_') AS iTracker_Query_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_Data218_') AS iTracker_Active_SN_CIO_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_Data218_') AS iTracker_Active_SN_CIO_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Validated_Data221_') AS iTracker_Query_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Query_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Validated_Data221_') AS iTracker_Query_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Last_Validated_Lookup_LKP_TABLE_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Validated_Data221_') AS Last_Validated_Lookup_LKP_TABLE_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Last_Validated_Lookup_LKP_TABLE_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Validated_Data221_') AS Last_Validated_Lookup_LKP_TABLE_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Validated_Data221_') AS Validated_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Validated_Data221_') AS Validated_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data213__source_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data213_') AS iTracker_Active_SN_CIO_iTracker_Active_Data213__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data213__source_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data213_') AS iTracker_Active_SN_CIO_iTracker_Active_Data213__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data213__sink_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data213_') AS iTracker_Active_SN_CIO_iTracker_Active_Data213__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data213__sink_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data213_') AS iTracker_Active_SN_CIO_iTracker_Active_Data213__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data218__source_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data218_') AS iTracker_Active_SN_CIO_iTracker_Active_Data218__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data218__source_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data218_') AS iTracker_Active_SN_CIO_iTracker_Active_Data218__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data218__sink_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data218_') AS iTracker_Active_SN_CIO_iTracker_Active_Data218__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data218__sink_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'iTracker_Active_SN_CIO_iTracker_Active_Data218_') AS iTracker_Active_SN_CIO_iTracker_Active_Data218__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_iTracker_Validated_Data221__source_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'Validated_iTracker_Validated_Data221_') AS Validated_iTracker_Validated_Data221__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_iTracker_Validated_Data221__source_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'Validated_iTracker_Validated_Data221_') AS Validated_iTracker_Validated_Data221__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_iTracker_Validated_Data221__sink_SchemaName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'Validated_iTracker_Validated_Data221_') AS Validated_iTracker_Validated_Data221__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Validated_iTracker_Validated_Data221__sink_TableName' AND PIPELINE_NAME = 'iTracker_TCOO_Daily4D_2' AND DATAFLOW_NAME = 'Validated_iTracker_Validated_Data221_') AS Validated_iTracker_Validated_Data221__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Get_Time_Stamp_Execution_Path216__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "select \ncase \nwhen DATEPART(hour,getdate() ) between 12 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 18 then 2\nelse 0 end as ExecuteSeriesFlag\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_Time_Stamp_Execution_Path216__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_Time_Stamp_Execution_Path216__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ExecuteSeriesFlag",
        "value" : "@activity('Get_Time_Stamp_Execution_Path216__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "SWITCHACTIVITY_Data_Imported_from_iTracker_into_Da",
      "type" : "Switch",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path216__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "on" : {
          "value" : "@if(equals(variables('ExecuteSeriesFlag'),1), 'Case1', Default)",
          "type" : "Expression"
        },
        "cases" : [ {
          "value" : "Case1",
          "activities" : [ {
            "name" : "Data_Imported_from_iTracker_into_Database210_",
            "type" : "IfCondition",
            "policy" : null,
            "dependsOn" : [ ],
            "state" : null,
            "description" : null,
            "onInactiveMarkAs" : null,
            "typeProperties" : {
              "expression" : {
                "value" : "@equals(1,1)",
                "type" : "Expression"
              },
              "ifFalseActivities" : [ ],
              "ifTrueActivities" : [ {
                "name" : "Data_Imported_from_iTracker_into_Database210__Dele",
                "type" : "Script",
                "policy" : null,
                "dependsOn" : [ ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "linkedServiceName" : {
                  "referenceName" : "AzureSqlDatabase1",
                  "type" : "LinkedServiceReference"
                },
                "typeProperties" : {
                  "scripts" : [ {
                    "type" : "Query",
                    "text" : "delete FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\n\n  where  cast(ImportDate as date) = cast(getdate() as date)"
                  } ],
                  "scriptBlockExecutionTimeout" : null
                }
              }, {
                "name" : "iTracker_Active_Data213_0",
                "type" : "ExecutePipeline",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "Data_Imported_from_iTracker_into_Database210__Dele",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "userProperties" : null,
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "pipeline" : {
                    "referenceName" : "PPL_Generic_db_replication_Stage",
                    "type" : "PipelineReference"
                  },
                  "waitOnCompletion" : false,
                  "parameters" : { }
                }
              }, {
                "name" : "iTracker_Active_Data213_",
                "type" : "Copy",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "iTracker_Active_Data213_0",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "source" : {
                    "type" : "AzureSqlsource",
                    "sqlReaderQuery" : "SELECT * ,DATEADD(\"day\",0,GETDATE()) AS ImportDate FROM COOITRACKER2.DBO.VSORFEEDSPRIMARY WITH (NOLOCK) WHERE (CTONAME IN ('RALPH GROCE','RAJAMANICKAM IYER','ROBERT OKAI','NON-MAPPED','JONATHAN FEIN') OR SN_CIO IN ('TECHCOO - TECHNOLOGY CHIEF OPERATING OFFICE')) AND STATUS = 'ACTIVE' AND RESPONSIBLEPARTY = 'APP' UNION ALL SELECT * FROM [COOITRACKER2].[DBO].[VSORFEEDSPRIMARY] WITH (NOLOCK) WHERE STATUS = 'ACTIVE' AND RESPONSIBLEPARTY != 'APP'AND ( TECHMANAGERNAME IN ('BAOHUA QIAO','BART MYSZKOWSKI','BEDROS YESSAIAN','DAVID KRAUSSE','KAMALAKAR BUSAM','MIKHAIL TSIONSKIY','RAJESH VELAMALA','STAN SOBOL','PEDRO SANTOS', 'ROBERTO REYES','SWETHA MANDA') OR SN_CIO IN ('TECHCOO - TECHNOLOGY CHIEF OPERATING OFFICE')) ) SELECT DISTINCT * FROM CTE"
                  },
                  "sink" : {
                    "type" : "AzureSqlSink",
                    "writeBehavior" : "insert",
                    "sqlWriterUseTableLock" : false
                  }
                },
                "inputs" : [ {
                  "referenceName" : "Generic_OLEDB_DS_LKP",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "",
                      "type" : "Expression"
                    }
                  }
                } ],
                "outputs" : [ {
                  "referenceName" : "Generic_OLEDB_DS_TGT",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "",
                      "type" : "Expression"
                    }
                  }
                } ]
              }, {
                "name" : "iTracker_Active_SN_CIO_iTracker_Active_Data213_",
                "type" : "Copy",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "iTracker_Active_Data213_",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "source" : { },
                  "sink" : {
                    "type" : "AzureSqlSink"
                  }
                },
                "inputs" : [ {
                  "referenceName" : "Generic_OLEDB_DS_TGT",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data213__source_TableName",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data213__source_SchemaName",
                      "type" : "Expression"
                    }
                  }
                } ],
                "outputs" : [ {
                  "referenceName" : "Generic11",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data213__sink_TableName",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data213__sink_SchemaName",
                      "type" : "Expression"
                    }
                  }
                } ]
              }, {
                "name" : "iTracker_Active_Data213__iTracker_Active_SN_CIO",
                "type" : "SetVariable",
                "policy" : {
                  "timeout" : "00:30:00",
                  "retry" : 0,
                  "retryIntervalInSeconds" : 0,
                  "secureOutput" : false,
                  "secureInput" : false
                },
                "dependsOn" : [ {
                  "activity" : "iTracker_Active_SN_CIO_iTracker_Active_Data213_",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "variableName" : "CountRowsToInsert",
                  "value" : "@int(activity('iTracker_Active_Data213_').output.runStatus.metrics.iTracker_Active_SN_CIO.rowsWritten)"
                }
              }, {
                "name" : "Count_Inserted211__LOOKUP",
                "type" : "Lookup",
                "policy" : {
                  "timeout" : "0.12:00:00",
                  "retry" : 0,
                  "retryIntervalInSeconds" : 30,
                  "secureOutput" : false,
                  "secureInput" : false
                },
                "dependsOn" : [ {
                  "activity" : "iTracker_Active_SN_CIO_iTracker_Active_Data213_",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "source" : {
                    "type" : "AzureSqlSource",
                    "sqlReaderStoredProcedureName" : null,
                    "sqlReaderQuery" : "SELECT combid FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\nWHERE CAST(IMPORTDATE AS DATE) = CAST(GETDATE() AS DATE)",
                    "storedProcedureParameters" : null,
                    "queryTimeout" : "02:00:00",
                    "partitionOption" : "None"
                  },
                  "dataset" : {
                    "referenceName" : "Generic_OLEDB_DS_LKP",
                    "type" : "DatasetReference"
                  }
                }
              }, {
                "name" : "Count_Inserted211__Todays_Inserted_Rowcount",
                "type" : "SetVariable",
                "policy" : {
                  "timeout" : "00:30:00",
                  "retry" : 0,
                  "retryIntervalInSeconds" : 0,
                  "secureOutput" : false,
                  "secureInput" : false
                },
                "dependsOn" : [ {
                  "activity" : "iTracker_Active_SN_CIO_iTracker_Active_Data213_",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "variableName" : "CountInsertedRecords",
                  "value" : "@int(activity('Count_Inserted211__LOOKUP').output.firstRow.cnt)"
                }
              }, {
                "name" : "Data_Imported_from_iTracker_into_Database210__Upda",
                "type" : "Script",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "Count_Inserted211__Todays_Inserted_Rowcount",
                  "dependencyConditions" : [ "Succeeded" ]
                }, {
                  "activity" : "iTracker_Active_Data213__iTracker_Active_SN_CIO",
                  "dependencyConditions" : [ "Succeeded" ]
                }, {
                  "activity" : "Count_Inserted211__LOOKUP",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "linkedServiceName" : {
                  "referenceName" : "AzureSqlDatabase1",
                  "type" : "LinkedServiceReference"
                },
                "typeProperties" : {
                  "scripts" : [ {
                    "type" : "Query",
                    "text" : "\n  update \n  [PLHS].[dbo].[iTracker_Active_SN_CIO]\n  set Rating =   replace(replace(replace(Rating,'; High; High','High'),'; High','High'),'0','Low')\n  where cast(ImportDate as date) = cast(getdate() as date)\n\n;"
                  } ],
                  "scriptBlockExecutionTimeout" : null
                }
              } ]
            }
          } ]
        } ],
        "defaultActivities" : [ ]
      }
    }, {
      "name" : "SWITCHACTIVITY_Re-mapping_CombID_using_Lookup217_",
      "type" : "Switch",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path216__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "on" : {
          "value" : "@if(equals(variables('ExecuteSeriesFlag'),1), 'Case1', Default)",
          "type" : "Expression"
        },
        "cases" : [ {
          "value" : "Case1",
          "activities" : [ {
            "name" : "Re-mapping_CombID_using_Lookup217_",
            "type" : "IfCondition",
            "policy" : null,
            "dependsOn" : [ ],
            "state" : "Inactive",
            "description" : null,
            "onInactiveMarkAs" : "Succeeded",
            "typeProperties" : {
              "expression" : {
                "value" : "@equals(1,1)",
                "type" : "Expression"
              },
              "ifFalseActivities" : [ ],
              "ifTrueActivities" : [ {
                "name" : "Re-mapping_CombID_using_Lookup217__Truncate_Table2",
                "type" : "Script",
                "policy" : null,
                "dependsOn" : [ ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "linkedServiceName" : {
                  "referenceName" : "AzureSqlDatabase1",
                  "type" : "LinkedServiceReference"
                },
                "typeProperties" : {
                  "scripts" : [ {
                    "type" : "Query",
                    "text" : "delete FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\n\n  where  cast(ImportDate as date) = cast(getdate() as date)"
                  } ],
                  "scriptBlockExecutionTimeout" : null
                }
              }, {
                "name" : "iTracker_Active_Data218_0",
                "type" : "ExecutePipeline",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "Re-mapping_CombID_using_Lookup217__Truncate_Table2",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "userProperties" : null,
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "pipeline" : {
                    "referenceName" : "PPL_Generic_db_replication_Stage",
                    "type" : "PipelineReference"
                  },
                  "waitOnCompletion" : false,
                  "parameters" : { }
                }
              }, {
                "name" : "iTracker_Active_Data218_",
                "type" : "Copy",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "iTracker_Active_Data218_0",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "source" : {
                    "type" : "AzureSqlsource",
                    "sqlReaderQuery" : "SELECT * ,DATEADD(\"day\",0,GETDATE()) AS ImportDate FROM COOITRACKER2.DBO.VSORFEEDSPRIMARY WITH (NOLOCK) WHERE (CTONAME IN ('RALPH GROCE','RAJAMANICKAM IYER','ROBERT OKAI','NON-MAPPED','JONATHAN FEIN') OR SN_CIO IN ('TECHCOO - TECHNOLOGY CHIEF OPERATING OFFICE')) AND STATUS = 'ACTIVE' AND RESPONSIBLEPARTY = 'APP' UNION ALL SELECT * FROM [COOITRACKER2].[DBO].[VSORFEEDSPRIMARY] WITH (NOLOCK) WHERE STATUS = 'ACTIVE' AND RESPONSIBLEPARTY != 'APP'AND ( TECHMANAGERNAME IN ('BAOHUA QIAO','BART MYSZKOWSKI','BEDROS YESSAIAN','DAVID KRAUSSE','KAMALAKAR BUSAM','MIKHAIL TSIONSKIY','RAJESH VELAMALA','STAN SOBOL','PEDRO SANTOS', 'ROBERTO REYES','SWETHA MANDA') OR SN_CIO IN ('TECHCOO - TECHNOLOGY CHIEF OPERATING OFFICE')) ) SELECT DISTINCT * FROM CTE"
                  },
                  "sink" : {
                    "type" : "AzureSqlSink",
                    "writeBehavior" : "insert",
                    "sqlWriterUseTableLock" : false
                  }
                },
                "inputs" : [ {
                  "referenceName" : "Generic_OLEDB_DS_LKP",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "",
                      "type" : "Expression"
                    }
                  }
                } ],
                "outputs" : [ {
                  "referenceName" : "Generic_OLEDB_DS_TGT",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "",
                      "type" : "Expression"
                    }
                  }
                } ]
              }, {
                "name" : "iTracker_Active_SN_CIO_iTracker_Active_Data218_",
                "type" : "Copy",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "iTracker_Active_Data218_",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "source" : { },
                  "sink" : {
                    "type" : "AzureSqlSink"
                  }
                },
                "inputs" : [ {
                  "referenceName" : "Generic_OLEDB_DS_TGT",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data218__source_TableName",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data218__source_SchemaName",
                      "type" : "Expression"
                    }
                  }
                } ],
                "outputs" : [ {
                  "referenceName" : "Generic11",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data218__sink_TableName",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_Active_SN_CIO_iTracker_Active_Data218__sink_SchemaName",
                      "type" : "Expression"
                    }
                  }
                } ]
              } ]
            }
          } ]
        } ],
        "defaultActivities" : [ ]
      }
    }, {
      "name" : "SWITCHACTIVITY_Validated_record_Import220_",
      "type" : "Switch",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path216__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "on" : {
          "value" : "@if(equals(variables('ExecuteSeriesFlag'),2), 'Case1', Default)",
          "type" : "Expression"
        },
        "cases" : [ {
          "value" : "Case1",
          "activities" : [ {
            "name" : "Validated_record_Import220_",
            "type" : "IfCondition",
            "policy" : null,
            "dependsOn" : [ ],
            "state" : null,
            "description" : null,
            "onInactiveMarkAs" : null,
            "typeProperties" : {
              "expression" : {
                "value" : "@equals(1,1)",
                "type" : "Expression"
              },
              "ifFalseActivities" : [ ],
              "ifTrueActivities" : [ {
                "name" : "iTracker_Validated_Data221_0",
                "type" : "ExecutePipeline",
                "policy" : null,
                "dependsOn" : [ ],
                "userProperties" : null,
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "pipeline" : {
                    "referenceName" : "PPL_Generic_db_replication_Stage",
                    "type" : "PipelineReference"
                  },
                  "waitOnCompletion" : false,
                  "parameters" : { }
                }
              }, {
                "name" : "iTracker_Validated_Data221_",
                "type" : "ExecuteDataFlow",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "iTracker_Validated_Data221_0",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "dataflow" : {
                    "referenceName" : "itracker_validated_data221_",
                    "type" : "DataFlowReference",
                    "parameters" : { },
                    "datasetParameters" : {
                      "LastValidatedLookupLKPTABLE" : {
                        "TableName" : {
                          "value" : "@activity('LKP_Fetch_Param').output.firstRow.LastValidatedLookupLKPTABLE_TableName",
                          "type" : "Expression"
                        },
                        "Schema" : {
                          "value" : "@activity('LKP_Fetch_Param').output.firstRow.LastValidatedLookupLKPTABLE_SchemaName",
                          "type" : "Expression"
                        },
                        "Container" : {
                          "value" : "",
                          "type" : "Expression"
                        },
                        "FileName" : {
                          "value" : "Last Validated Lookup",
                          "type" : "Expression"
                        },
                        "Directory" : {
                          "value" : null,
                          "type" : "Expression"
                        },
                        "ColumnDelimiter" : ","
                      },
                      "Validated" : {
                        "TableName" : {
                          "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_TableName",
                          "type" : "Expression"
                        },
                        "Schema" : {
                          "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_SchemaName",
                          "type" : "Expression"
                        },
                        "Container" : {
                          "value" : "",
                          "type" : "Expression"
                        },
                        "FileName" : {
                          "value" : null,
                          "type" : "Expression"
                        },
                        "Directory" : {
                          "value" : null,
                          "type" : "Expression"
                        },
                        "ColumnDelimiter" : ","
                      },
                      "iTrackerQuery" : {
                        "TableName" : {
                          "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTrackerQuery_TableName",
                          "type" : "Expression"
                        },
                        "Schema" : {
                          "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTrackerQuery_SchemaName",
                          "type" : "Expression"
                        },
                        "Container" : {
                          "value" : "",
                          "type" : "Expression"
                        },
                        "FileName" : {
                          "value" : "iTracker Query",
                          "type" : "Expression"
                        },
                        "Directory" : {
                          "value" : null,
                          "type" : "Expression"
                        },
                        "ColumnDelimiter" : ","
                      }
                    }
                  },
                  "compute" : null,
                  "staging" : { }
                }
              }, {
                "name" : "Validated_iTracker_Validated_Data221_",
                "type" : "Copy",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "iTracker_Validated_Data221_",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "source" : { },
                  "sink" : {
                    "type" : "AzureSqlSink"
                  }
                },
                "inputs" : [ {
                  "referenceName" : "Generic_OLEDB_DS_TGT",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_iTracker_Validated_Data221__source_TableName",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_iTracker_Validated_Data221__source_SchemaName",
                      "type" : "Expression"
                    }
                  }
                } ],
                "outputs" : [ {
                  "referenceName" : "Generic11",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_iTracker_Validated_Data221__sink_TableName",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.Validated_iTracker_Validated_Data221__sink_SchemaName",
                      "type" : "Expression"
                    }
                  }
                } ]
              } ]
            }
          } ]
        } ],
        "defaultActivities" : [ ]
      }
    }, {
      "name" : "SWITCHACTIVITY_Failure_Mail215_",
      "type" : "Switch",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "SWITCHACTIVITY_Data_Imported_from_iTracker_into_Da",
        "dependencyConditions" : [ "Completed" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "on" : {
          "value" : "@if(not(equals(variables('CountInsertedRecords'),variables('CountRowsToInsert'))), 'Case1', Default)",
          "type" : "Expression"
        },
        "cases" : [ {
          "value" : "Case1",
          "activities" : [ {
            "name" : "Failure_Mail215_",
            "type" : "ExecutePipeline",
            "policy" : null,
            "dependsOn" : [ ],
            "userProperties" : null,
            "state" : null,
            "description" : null,
            "onInactiveMarkAs" : null,
            "typeProperties" : {
              "pipeline" : {
                "referenceName" : "PPL_abc",
                "type" : "PipelineReference"
              },
              "waitOnCompletion" : false,
              "parameters" : { }
            }
          } ]
        } ],
        "defaultActivities" : [ ]
      }
    }, {
      "name" : "Failure_Mail215_",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path216__VA",
        "dependencyConditions" : [ "Failed" ]
      }, {
        "activity" : "SWITCHACTIVITY_Validated_record_Import220_",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_22_07/Vulnerability_ETL"
    },
    "parameters" : { },
    "variables" : {
      "CountRowsToInsert" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "CountInsertedRecords" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "ExecuteSeriesFlag" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "sRAndSEmailAddress" : {
        "type" : "string",
        "defaultValue" : "'TCOONoReply@wellsfargo.com'"
      }
    }
  }
}