pipeline/PPL_ProcessEmployeeData10_.json
{
  "name" : "PPL_ProcessEmployeeData10_",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'IFIL_NewJoinees_ContainerName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS IFIL_NewJoinees_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'IFIL_NewJoinees_FileName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS IFIL_NewJoinees_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'IFIL_NewJoinees_FilePath' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS IFIL_NewJoinees_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'TBL_Manager_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS TBL_Manager_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'TBL_Manager_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS TBL_Manager_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Lookup_LKP_TABLE_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS Lookup_LKP_TABLE_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Lookup_LKP_TABLE_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS Lookup_LKP_TABLE_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dest_File_ContainerName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS Dest_File_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dest_File_FileName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS Dest_File_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dest_File_FilePath' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS Dest_File_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'DFT1_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dest_File_DFT1__source_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'Dest_File_DFT1_') AS Dest_File_DFT1__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dest_File_DFT1__source_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'Dest_File_DFT1_') AS Dest_File_DFT1__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dest_File_DFT1__sink_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'Dest_File_DFT1_') AS Dest_File_DFT1__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dest_File_DFT1__sink_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'Dest_File_DFT1_') AS Dest_File_DFT1__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DFT1__source_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'OLE_DB_Destination_DFT1_') AS OLE_DB_Destination_DFT1__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DFT1__source_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'OLE_DB_Destination_DFT1_') AS OLE_DB_Destination_DFT1__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DFT1__sink_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'OLE_DB_Destination_DFT1_') AS OLE_DB_Destination_DFT1__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DFT1__sink_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'OLE_DB_Destination_DFT1_') AS OLE_DB_Destination_DFT1__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dest_File_DFT1__source_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'Dest_File_DFT1_') AS Dest_File_DFT1__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dest_File_DFT1__source_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'Dest_File_DFT1_') AS Dest_File_DFT1__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dest_File_DFT1__sink_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'Dest_File_DFT1_') AS Dest_File_DFT1__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dest_File_DFT1__sink_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'Dest_File_DFT1_') AS Dest_File_DFT1__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DFT1__source_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'OLE_DB_Destination_DFT1_') AS OLE_DB_Destination_DFT1__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DFT1__source_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'OLE_DB_Destination_DFT1_') AS OLE_DB_Destination_DFT1__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DFT1__sink_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'OLE_DB_Destination_DFT1_') AS OLE_DB_Destination_DFT1__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DFT1__sink_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1' AND DATAFLOW_NAME = 'OLE_DB_Destination_DFT1_') AS OLE_DB_Destination_DFT1__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "DFT1_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "DFT1_01",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "DFT1_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "DFT1_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "DFT1_01",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "DFT1_",
          "type" : "DataFlowReference",
          "parameters" : {
            "FFNonDataRows" : {
              "type" : "Expression",
              "value" : "0"
            },
            "Counter" : {
              "type" : "Expression",
              "value" : "0"
            },
            "Bool" : {
              "type" : "Expression",
              "value" : "false()"
            },
            "String" : {
              "type" : "Expression",
              "value" : "'NULL'"
            },
            "RecentDate" : {
              "type" : "Expression",
              "value" : "'\\\"1999-99-99\\\"'"
            },
            "INT" : {
              "type" : "Expression",
              "value" : "0"
            },
            "FFIsEmpty" : {
              "type" : "Expression",
              "value" : "true()"
            }
          },
          "datasetParameters" : {
            "LookupLKPTABLE" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.LookupLKPTABLE_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.LookupLKPTABLE_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Lookup",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "DestFile" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.DestFile_ContainerName",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.DestFile_FileName",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.DestFile_FilePath",
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "IFILNewJoinees" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.IFILNewJoinees_ContainerName",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.IFILNewJoinees_FileName",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.IFILNewJoinees_FilePath",
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "TBLManager" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.TBLManager_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.TBLManager_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "TBL_Manager",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Dest_File_DFT1_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "DFT1_",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "Dest_File_DFT1_",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "OLE_DB_Destination_DFT1_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource"
        },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dest_File_DFT1__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dest_File_DFT1__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dest_File_DFT1__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dest_File_DFT1__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "OLE_DB_Destination_DFT1_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Dest_File_DFT1_",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "DFT1_",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "OLE_DB_Destination_DFT1_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DFT1__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DFT1__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DFT1__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DFT1__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "Dest_File_DFT1_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource"
        },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dest_File_DFT1__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dest_File_DFT1__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dest_File_DFT1__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dest_File_DFT1__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "OLE_DB_Destination_DFT1_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DFT1__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DFT1__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DFT1__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DFT1__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest"
    },
    "parameters" : { },
    "variables" : { }
  }
}