pipeline/PPL_QTEPackage.json
{
  "name" : "ppl_qtepackage",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'QTE_Sources_ContainerName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'QTEReadiness_Weekly149_') AS QTE_Sources_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'QTE_Sources_FileName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'QTEReadiness_Weekly149_') AS QTE_Sources_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'QTE_Sources_FilePath' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'QTEReadiness_Weekly149_') AS QTE_Sources_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'QTEReadiness_Weekly149_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'QTEReadiness_Weekly149_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'xl_COO_Tech_App_Disp_ContainerName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'Load_COO_Tech_App_Disp151_') AS xl_COO_Tech_App_Disp_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'xl_COO_Tech_App_Disp_FileName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'Load_COO_Tech_App_Disp151_') AS xl_COO_Tech_App_Disp_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'xl_COO_Tech_App_Disp_FilePath' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'Load_COO_Tech_App_Disp151_') AS xl_COO_Tech_App_Disp_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'SQL_qte_coo_tech_app_disp_SchemaName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'Load_COO_Tech_App_Disp151_') AS SQL_qte_coo_tech_app_disp_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'SQL_qte_coo_tech_app_disp_TableName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'Load_COO_Tech_App_Disp151_') AS SQL_qte_coo_tech_app_disp_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__source_SchemaName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151_') AS SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__source_TableName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151_') AS SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__sink_SchemaName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151_') AS SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__sink_TableName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151_') AS SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly149__source_SchemaName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly149_') AS OLE_DB_Destination_QTEReadiness_Weekly149__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly149__source_TableName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly149_') AS OLE_DB_Destination_QTEReadiness_Weekly149__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly149__sink_SchemaName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly149_') AS OLE_DB_Destination_QTEReadiness_Weekly149__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly149__sink_TableName' AND PIPELINE_NAME = 'QTEPackage' AND DATAFLOW_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly149_') AS OLE_DB_Destination_QTEReadiness_Weekly149__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Process_Source_File148_",
      "type" : "Custom",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : "Execute Process Task",
      "onInactiveMarkAs" : null,
      "linkedServiceName" : null,
      "typeProperties" : {
        "command" : {
          "value" : "C:\\Program files\\Python312\\python.exe \\\\nccc822nvs1.wellsfargo.com\\C_TCO_Groups\\TCOO_Platform_Services\\Platform_Lifecycle_Health_Services\\TechRefresh\\data\\qte\\files\\data\\QTEFileArchive.py",
          "type" : "Expression"
        },
        "resourceLinkedService" : null,
        "folderPath" : null,
        "retentionTimeInDays" : null,
        "referenceObjects" : {
          "linkedServices" : [ ],
          "datasets" : [ ]
        }
      }
    }, {
      "name" : "QTEReadiness_Weekly149_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Process_Source_File148_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_Generic_db_replication_Stage",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "QTEReadiness_Weekly149_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "QTEReadiness_Weekly149_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlsource"
        },
        "sink" : {
          "type" : "AzureSqlSink",
          "writeBehavior" : "insert",
          "sqlWriterUseTableLock" : false
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "OLE_DB_Destination_QTEReadiness_Weekly149_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "QTEReadiness_Weekly149_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_QTEReadiness_Weekly149__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_QTEReadiness_Weekly149__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_QTEReadiness_Weekly149__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_QTEReadiness_Weekly149__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "SC_COO_Tech_App_Disp150_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_QTEReadiness_Weekly149_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "SC_COO_Tech_App_Disp150__Truncate_COO_Tech_App_Dis",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "TRUNCATE TABLE [plhs].[dbo].[qte_coo_tech_app_disp]"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_COO_Tech_App_Disp151_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "SC_COO_Tech_App_Disp150__Truncate_COO_Tech_App_Dis",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Load_COO_Tech_App_Disp151_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_COO_Tech_App_Disp151_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_COO_Tech_App_Disp151_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.SQL_qte_coo_tech_app_disp_Load_COO_Tech_App_Disp151__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ]
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_22_07/TCOO_QTEReadiness"
    },
    "parameters" : { },
    "variables" : {
      "varQTEFileName" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files\\\\QTE.ReadinessReport.xlsx'"
      },
      "varQTEFileDateString" : {
        "type" : "string",
        "defaultValue" : "'11042025'"
      },
      "varQTEFullFileName" : {
        "type" : "string"
      }
    }
  }
}