pipeline/PPL_CARDB_PrismaCloudVulns.json
{
  "name" : "ppl_cardb_prismacloudvulns",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma ETL') AS vwPrisma_Enriched_Infra_DateFiltered_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma ETL') AS vwPrisma_Enriched_Infra_DateFiltered_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma ETL') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma ETL') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma ETL 1') AS vwPrisma_Enriched_Infra_DateFiltered_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma ETL 1') AS vwPrisma_Enriched_Infra_DateFiltered_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma ETL 1') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma ETL 1') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrismaRegistry_Enriched_Infra_DateFiltered_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ETL PrismaRegistry') AS vwPrismaRegistry_Enriched_Infra_DateFiltered_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrismaRegistry_Enriched_Infra_DateFiltered_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ETL PrismaRegistry') AS vwPrismaRegistry_Enriched_Infra_DateFiltered_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ETL PrismaRegistry') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ETL PrismaRegistry') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ETL PrismaRegistry_source_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ETL PrismaRegistry') AS OLE_DB_Destination_ETL PrismaRegistry_source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ETL PrismaRegistry_source_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ETL PrismaRegistry') AS OLE_DB_Destination_ETL PrismaRegistry_source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ETL PrismaRegistry_sink_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ETL PrismaRegistry') AS OLE_DB_Destination_ETL PrismaRegistry_sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ETL PrismaRegistry_sink_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ETL PrismaRegistry') AS OLE_DB_Destination_ETL PrismaRegistry_sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma ETL_source_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma ETL') AS OLE_DB_Destination_Prisma ETL_source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma ETL_source_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma ETL') AS OLE_DB_Destination_Prisma ETL_source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma ETL_sink_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma ETL') AS OLE_DB_Destination_Prisma ETL_sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma ETL_sink_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma ETL') AS OLE_DB_Destination_Prisma ETL_sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma ETL 1_source_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma ETL 1') AS OLE_DB_Destination_Prisma ETL 1_source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma ETL 1_source_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma ETL 1') AS OLE_DB_Destination_Prisma ETL 1_source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma ETL 1_sink_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma ETL 1') AS OLE_DB_Destination_Prisma ETL 1_sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma ETL 1_sink_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma ETL 1') AS OLE_DB_Destination_Prisma ETL 1_sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Execute SQL Task_SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "TRUNCATE TABLE dbo.tbl_Prisma_Enriched_TCOO_TDATA"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "Prisma ETL0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Execute SQL Task_SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_Generic_db_replication_Stage",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Prisma ETL",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma ETL0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "prisma etl",
          "type" : "DataFlowReference",
          "parameters" : { },
          "datasetParameters" : {
            "vwPrismaEnrichedInfraDateFiltered" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "vwPrisma_Enriched_Infra_DateFiltered",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "OLE_DB_Destination_Prisma ETL",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma ETL",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma ETL_source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma ETL_source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma ETL_sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma ETL_sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "Sequence Container",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_Prisma ETL",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Sequence Container_Check Source Availability_SCRIP",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SELECT COUNT(*) as reccount \nFROM  CAR_VulnRepts.dbo.vwPrismaRegistry_VulnsEnriched_Infra_DateFiltered \"With\"(NoLock)\nWHERE        (cost_center_cio LIKE 'TECHCOO%' OR\n                         cost_center_cio LIKE 'TECHCDOT%') AND is_compliant = 'No'"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_Sequence Container_Check Source Availability_VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence Container_Check Source Availability_SCRIP",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "RegistryCount",
            "value" : "@activity('Sequence Container_Check Source Availability_SCRIP').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "IFACTIVITY_Sequence Container_Truncate PrismaRegis",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_Sequence Container_Check Source Availability_VA",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@greater(variables('RegistryCount'),0)",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "Sequence Container_Truncate PrismaRegistry_Enriche",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : "TRUNCATE TABLE dbo.tbL_PrismaRegistry_Enriched"
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "ETL PrismaRegistry0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "IFACTIVITY_Sequence Container_Truncate PrismaRegis",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "ETL PrismaRegistry",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "ETL PrismaRegistry0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "etl prismaregistry",
              "type" : "DataFlowReference",
              "parameters" : { },
              "datasetParameters" : {
                "OLEDBDestination" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "vwPrismaRegistryEnrichedInfraDateFiltered" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaRegistryEnrichedInfraDateFiltered_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaRegistryEnrichedInfraDateFiltered_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "vwPrismaRegistry_Enriched_Infra_DateFiltered",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "OLE_DB_Destination_ETL PrismaRegistry",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "ETL PrismaRegistry",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ETL PrismaRegistry_source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ETL PrismaRegistry_source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ETL PrismaRegistry_sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ETL PrismaRegistry_sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ]
      }
    }, {
      "name" : "Prisma ETL 10",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_Prisma ETL",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_Generic_db_replication_Stage",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Prisma ETL 1",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma ETL 10",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "prisma etl 1",
          "type" : "DataFlowReference",
          "parameters" : { },
          "datasetParameters" : {
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "vwPrismaEnrichedInfraDateFiltered" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "vwPrisma_Enriched_Infra_DateFiltered",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "OLE_DB_Destination_Prisma ETL 1",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma ETL 1",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma ETL 1_source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma ETL 1_source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma ETL 1_sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma ETL 1_sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    } ],
    "folder" : {
      "name" : "Wellfargo_22_07/COO_VulnPackages"
    },
    "parameters" : { },
    "variables" : {
      "RegistryCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      }
    }
  }
}