pipeline/PPL_SII_Vuln_Email_Alerts_3.json
{
  "name" : "ppl_sii_vuln_email_alerts_3",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Daily_SII_Metric_View_SchemaName' AND PIPELINE_NAME = 'SII_Vuln_Email_Alerts_3' AND DATAFLOW_NAME = 'Collect_Daily_SII_Metric335_') AS Daily_SII_Metric_View_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Daily_SII_Metric_View_TableName' AND PIPELINE_NAME = 'SII_Vuln_Email_Alerts_3' AND DATAFLOW_NAME = 'Collect_Daily_SII_Metric335_') AS Daily_SII_Metric_View_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_SII_Vuln_History_Alerts_SchemaName' AND PIPELINE_NAME = 'SII_Vuln_Email_Alerts_3' AND DATAFLOW_NAME = 'Collect_Daily_SII_Metric335_') AS tbl_SII_Vuln_History_Alerts_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_SII_Vuln_History_Alerts_TableName' AND PIPELINE_NAME = 'SII_Vuln_Email_Alerts_3' AND DATAFLOW_NAME = 'Collect_Daily_SII_Metric335_') AS tbl_SII_Vuln_History_Alerts_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__source_SchemaName' AND PIPELINE_NAME = 'SII_Vuln_Email_Alerts_3' AND DATAFLOW_NAME = 'tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335_') AS tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__source_TableName' AND PIPELINE_NAME = 'SII_Vuln_Email_Alerts_3' AND DATAFLOW_NAME = 'tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335_') AS tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__sink_SchemaName' AND PIPELINE_NAME = 'SII_Vuln_Email_Alerts_3' AND DATAFLOW_NAME = 'tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335_') AS tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__sink_TableName' AND PIPELINE_NAME = 'SII_Vuln_Email_Alerts_3' AND DATAFLOW_NAME = 'tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335_') AS tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Execute_SQL_Task_1336__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "select\ncase when count(*)   > 0 then 0 else 1 end as flag\nfrom tbl_SII_Vuln_History_Alerts\nwhere cast(Import_Date as date) = cast(getdate() as date)"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Execute_SQL_Task_1336__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Execute_SQL_Task_1336__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "TodaysData",
        "value" : "@activity('Execute_SQL_Task_1336__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "SWITCHACTIVITY_Insert_Email_Records337_",
      "type" : "Switch",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Execute_SQL_Task_1336__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "on" : {
          "value" : "@if(equals(variables('TodaysData'),1), 'Case1', Default)",
          "type" : "Expression"
        },
        "cases" : [ {
          "value" : "Case1",
          "activityList" : [ {
            "name" : "Insert_Email_Records337_",
            "type" : "IfCondition",
            "policy" : null,
            "dependsOn" : [ ],
            "state" : null,
            "description" : null,
            "onInactiveMarkAs" : null,
            "typeProperties" : {
              "expression" : {
                "value" : "@equals(1,1)",
                "type" : "Expression"
              },
              "ifFalseActivities" : [ ],
              "ifTrueActivities" : [ {
                "name" : "Insert_Email_Records337__Insert_Records_into_Email",
                "type" : "Script",
                "policy" : null,
                "dependsOn" : [ ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "linkedServiceName" : {
                  "referenceName" : "AzureSqlDatabase1",
                  "type" : "LinkedServiceReference"
                },
                "typeProperties" : {
                  "scripts" : [ {
                    "type" : "Query",
                    "text" : "  insert into [PLHS].[dbo].[tbl_ssis_utility]\n  (\t'michael.dematos@wellsfargo.com'\t[To]\n      ,[Subject]\n      ,[body]\n      ,[ReceiveDate]\n      ,[SendDate]\n      ,[BodyFormat]\n      ,null [CC]\n\t  )\n  \n  select \n  [To_],\n  [subject_],\n  [body],\n getdate() [RECEIVEDATE],\n  null,\n  2,\n  [CC]\n     \n  from \n  [PLHS].[dbo].[vw_SII_EmailAlerts_Daily_v2]\n\nwhere   [To_]  IS NOT NULL \nGO\n\n"
                  } ],
                  "scriptBlockExecutionTimeout" : null
                }
              } ]
            }
          } ]
        } ],
        "defaultActivities" : [ ]
      }
    }, {
      "name" : "Daily_SII_Metric334_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "SWITCHACTIVITY_Insert_Email_Records337_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Collect_Daily_SII_Metric335_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Collect_Daily_SII_Metric335_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Collect_Daily_SII_Metric335_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_LKP",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Collect_Daily_SII_Metric335_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.tbl_SII_Vuln_History_Alerts_Collect_Daily_SII_Metric335__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ]
      }
    }, {
      "name" : "Only_Send_once_a_week339__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Daily_SII_Metric334_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "\ndeclare @upddatedate date = (select \n\ncase \nwhen isHoliday = 0\nand DATENAME(weekday,getdate()) <> 'Monday' then CurrentDate\nelse null end as updatedate\n\nfrom Calendar\nwhere currentdate =cast( getdate() as date)\n)\n\n;\nupdate tbl_ssis_utility \nset SendDate = @upddatedate \nwhere SendDate is null \n\n\n\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_22_07/Vulnerability_ETL_v2022"
    },
    "parameters" : { },
    "variables" : {
      "TodaysData" : {
        "type" : "Integer",
        "defaultValue" : "0"
      }
    }
  }
}