pipeline/PPL_QTE_Automation.json
{
  "name" : "PPL_QTE_Automation",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "varQTEArchiveDestFullPath",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "varQTEArchiveDestFullPath",
        "value" : {
          "value" : "@concat(variables('varQTEArchiveFolder'),'\\\\',variables('varQTELatestSourceFileName'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "varQTERenamedDestFullPath",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "varQTERenamedDestFullPath",
        "value" : {
          "value" : "@concat(variables('varQTESourceFolder'),'\\\\ReadinessReport.xlsx')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'QTE_Sources_ContainerName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = 'QTEReadiness_Weekly8_') AS QTE_Sources_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'QTE_Sources_FileName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = 'QTEReadiness_Weekly8_') AS QTE_Sources_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'QTE_Sources_FilePath' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = 'QTEReadiness_Weekly8_') AS QTE_Sources_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = 'QTEReadiness_Weekly8_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = 'QTEReadiness_Weekly8_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '0_Prepare_Source_File13__CopyToArchive14__source_SchemaName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = '0_Prepare_Source_File13__CopyToArchive14_') AS 0_Prepare_Source_File13__CopyToArchive14__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '0_Prepare_Source_File13__CopyToArchive14__source_TableName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = '0_Prepare_Source_File13__CopyToArchive14_') AS 0_Prepare_Source_File13__CopyToArchive14__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '0_Prepare_Source_File13__CopyToArchive14__sink_SchemaName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = '0_Prepare_Source_File13__CopyToArchive14_') AS 0_Prepare_Source_File13__CopyToArchive14__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '0_Prepare_Source_File13__CopyToArchive14__sink_TableName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = '0_Prepare_Source_File13__CopyToArchive14_') AS 0_Prepare_Source_File13__CopyToArchive14__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAPrepare_Source_File13__RenameFile17__source_SchemaName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = '_COPYDATAPrepare_Source_File13__RenameFile17_') AS _COPYDATAPrepare_Source_File13__RenameFile17__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAPrepare_Source_File13__RenameFile17__source_TableName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = '_COPYDATAPrepare_Source_File13__RenameFile17_') AS _COPYDATAPrepare_Source_File13__RenameFile17__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAPrepare_Source_File13__RenameFile17__sink_SchemaName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = '_COPYDATAPrepare_Source_File13__RenameFile17_') AS _COPYDATAPrepare_Source_File13__RenameFile17__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAPrepare_Source_File13__RenameFile17__sink_TableName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = '_COPYDATAPrepare_Source_File13__RenameFile17_') AS _COPYDATAPrepare_Source_File13__RenameFile17__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly8__source_SchemaName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly8_') AS OLE_DB_Destination_QTEReadiness_Weekly8__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly8__source_TableName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly8_') AS OLE_DB_Destination_QTEReadiness_Weekly8__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly8__sink_SchemaName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly8_') AS OLE_DB_Destination_QTEReadiness_Weekly8__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly8__sink_TableName' AND PIPELINE_NAME = 'QTE_Automation' AND DATAFLOW_NAME = 'OLE_DB_Destination_QTEReadiness_Weekly8_') AS OLE_DB_Destination_QTEReadiness_Weekly8__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Prepare_Source_File13_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "varQTERenamedDestFullPath",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "varQTEArchiveDestFullPath",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "0_Prepare_Source_File13__CopyToArchive14_",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.0_Prepare_Source_File13__CopyToArchive14__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.0_Prepare_Source_File13__CopyToArchive14__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "_COPYDATAPrepare_Source_File13__RenameFile17_",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "0_Prepare_Source_File13__CopyToArchive14_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow._COPYDATAPrepare_Source_File13__RenameFile17__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow._COPYDATAPrepare_Source_File13__RenameFile17__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "Prepare_Source_File13__RenameFile17__DELETE",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "_COPYDATAPrepare_Source_File13__RenameFile17_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        } ]
      }
    }, {
      "name" : "GETMETADATA_Check_File_and_Execute7_",
      "type" : "GetMetadata",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Prepare_Source_File13_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "fieldList" : [ "childItems" ],
        "dataset" : {
          "referenceName" : "Generic_OLEDB_DS_SRC",
          "type" : "DatasetReference",
          "parameters" : {
            "TableName" : {
              "value" : "",
              "type" : "Expression"
            },
            "Schema" : {
              "value" : "",
              "type" : "Expression"
            }
          }
        },
        "storeSettings" : {
          "type" : "AzureBlobStorageReadSettings",
          "enablePartitionDiscovery" : false
        },
        "formatSettings" : {
          "type" : "DelimitedTextReadSettings"
        }
      }
    }, {
      "name" : "FILTER_Check_File_and_Execute7_",
      "type" : "Filter",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "GETMETADATA_Check_File_and_Execute7_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('GETMETADATA_Check_File_and_Execute7_').output.childItems",
          "type" : "Expression"
        },
        "condition" : {
          "value" : "@equals(1, 1)",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FOREACH_Check_File_and_Execute7_",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FILTER_Check_File_and_Execute7_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('FILTER_Check_File_and_Execute7_').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "SET_FileName",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "FileName",
            "value" : {
              "value" : "@concat('\\\\nccc822nvs1.wellsfargo.com\\C_TCO_Groups\\TCOO_Platform_Services\\Platform_Lifecycle_Health_Services\\TechRefresh\\data\\qte\\files\\', item().name)",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "QTEReadiness_Weekly8_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "SET_FileName",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_abc",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "QTEReadiness_Weekly8_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "QTEReadiness_Weekly8_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "OLE_DB_Destination_QTEReadiness_Weekly8_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "QTEReadiness_Weekly8_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_QTEReadiness_Weekly8__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_QTEReadiness_Weekly8__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_QTEReadiness_Weekly8__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_QTEReadiness_Weekly8__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Check_File_and_Execute7__SC_COO_Tech_App_Disp10_",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "OLE_DB_Destination_QTEReadiness_Weekly8_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@equals(1,1)",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "Check_File_and_Execute7__SC_COO_Tech_App_Disp10__T",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : "TRUNCATE TABLE [plhs].[dbo].[qte_coo_tech_app_disp]"
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "_DELETECheck_File_and_Execute7__Remove_Processed_F",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "OLE_DB_Destination_QTEReadiness_Weekly8_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        } ],
        "isSequential" : true
      }
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest"
    },
    "parameters" : { },
    "variables" : {
      "varQTELogFilePath" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\scripts\\\\QTE.Readiness.log'"
      },
      "varQTEFileName" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files\\\\QTE.ReadinessReport.xlsx'"
      },
      "varQTEFileDateString" : {
        "type" : "string",
        "defaultValue" : "'11042025'"
      },
      "varQTEFullFileName" : {
        "type" : "string"
      },
      "varQTEArchiveFolder" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files\\\\archive'"
      },
      "varQTELatestSourceFullPath" : {
        "type" : "string"
      },
      "varQTERenamedDestFullPath" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files\\\\QTE.ReadinessReport.xlsx'"
      },
      "varQTEArchiveDestFullPath" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files\\\\archive\\\\'"
      },
      "varQTELatestSourceFileName" : {
        "type" : "string"
      },
      "varQTESourceFolder" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files'"
      }
    }
  }
}