pipeline/PPL_DailyRefresh_ActiveVulnTbl_1.json
{
  "name" : "ppl_dailyrefresh_activevulntbl_1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Daily_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage81_') AS Static_Daily_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Daily_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage81_') AS Static_Daily_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage81_') AS Pit_Table_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage81_') AS Pit_Table_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Stage_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage85_') AS Stage_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Stage_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage85_') AS Stage_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage85_') AS Static_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage85_') AS Static_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Vuln_View_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View86_') AS Vuln_View_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Vuln_View_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View86_') AS Vuln_View_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View86_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View86_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Vuln_View_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Ad-_Hoc_Dev_Load89_') AS Vuln_View_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Vuln_View_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Ad-_Hoc_Dev_Load89_') AS Vuln_View_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Vuln_View_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Ad-_Hoc_Dev_Load89_') AS Vuln_View_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Vuln_View_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Ad-_Hoc_Dev_Load89_') AS Vuln_View_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage81__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage81_') AS Pit_Table_Load_Daily_Vuln_from_Stage81__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage81__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage81_') AS Pit_Table_Load_Daily_Vuln_from_Stage81__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage81__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage81_') AS Pit_Table_Load_Daily_Vuln_from_Stage81__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage81__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage81_') AS Pit_Table_Load_Daily_Vuln_from_Stage81__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage85__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage85_') AS Static_Load_Daily_Vuln_from_Stage85__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage85__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage85_') AS Static_Load_Daily_Vuln_from_Stage85__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage85__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage85_') AS Static_Load_Daily_Vuln_from_Stage85__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage85__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage85_') AS Static_Load_Daily_Vuln_from_Stage85__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View86__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View86_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View86__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View86__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View86_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View86__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View86__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View86_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View86__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View86__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View86_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View86__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Ad-_Hoc_Dev_Load89_') AS OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Prod83_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Prod83__delete_data_from_Static_to_load_from_stage",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : " delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static]"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Prod83__Truncate_Daily_Vuln_Table87__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : " delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static_stage]"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage85_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Prod83__delete_data_from_Static_to_load_from_stage",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Load_Daily_Vuln_from_View86_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Prod83__Truncate_Daily_Vuln_Table87__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage85_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage85_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource",
              "sqlReaderQuery" : "SELECT * FROM dbo.tbl_VulnActive_Daily_Static_stage"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_LKP",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Load_Daily_Vuln_from_View86_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_View86_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_LKP",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Static_Load_Daily_Vuln_from_Stage85_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage85_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage85__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage85__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage85__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage85__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "OLE_DB_Destination_Load_Daily_Vuln_from_View86_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_View86_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View86__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View86__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View86__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View86__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Load_Daily_Vuln_from_View86__OLE_DB_Destination",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "OLE_DB_Destination_Load_Daily_Vuln_from_View86_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "StageViewCount",
            "value" : "@int(activity('Load_Daily_Vuln_from_View86_').output.runStatus.metrics.OLE_DB_Destination.rowsWritten)"
          }
        }, {
          "name" : "SWITCHACTIVITY_Load_Daily_Vuln_from_View86_",
          "type" : "Switch",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_View86__OLE_DB_Destination",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "on" : {
              "value" : "@if(greater(variables('StageViewCount'),0), 'Case1', Default)",
              "type" : "Expression"
            },
            "cases" : [ {
              "value" : "Case1",
              "activities" : [ {
                "name" : "Prod83__delete_data_from_Static_to_load_from_stage",
                "type" : "Script",
                "policy" : null,
                "dependsOn" : [ ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "linkedServiceName" : {
                  "referenceName" : "AzureSqlDatabase1",
                  "type" : "LinkedServiceReference"
                },
                "typeProperties" : {
                  "scripts" : [ {
                    "type" : "Query",
                    "text" : " delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static]"
                  } ],
                  "scriptBlockExecutionTimeout" : null
                }
              } ]
            } ],
            "defaultActivities" : [ ]
          }
        } ]
      }
    }, {
      "name" : "Sequence_Container88_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Sequence_Container88__Multi_Load_delete_Dev90__SCR",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : " delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static_dev]"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Ad-_Hoc_Dev_Load89__OLE_DB_Destination",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "StageViewCount",
            "value" : "@int(activity('Ad-_Hoc_Dev_Load89_').output.runStatus.metrics.OLE_DB_Destination.rowsWritten)"
          }
        }, {
          "name" : "Ad-_Hoc_Dev_Load89__OLE_DB_Destination",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "StageViewCount",
            "value" : "@int(activity('Ad-_Hoc_Dev_Load89_').output.runStatus.metrics.OLE_DB_Destination.rowsWritten)"
          }
        }, {
          "name" : "Ad-_Hoc_Dev_Load89_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Sequence_Container88__Multi_Load_delete_Dev90__SCR",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Ad-_Hoc_Dev_Load89_01",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Ad-_Hoc_Dev_Load89_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Ad-_Hoc_Dev_Load89_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Ad-_Hoc_Dev_Load89_01",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_LKP",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "OLE_DB_Destination_Ad-_Hoc_Dev_Load89_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Ad-_Hoc_Dev_Load89_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "OLE_DB_Destination_Ad-_Hoc_Dev_Load89_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "OLE_DB_Destination_Ad-_Hoc_Dev_Load89_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ]
      }
    }, {
      "name" : "PIT_Reporting80_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prod83_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "PIT_Reporting80__MultiLoad_Clean_Up82__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "DELETE FROM  [PLHS].[dbo].[tbl_VulnActive_Daily_PIT_MetricsSource]\nWHERE PIT_Date = CAST(GETDATE() AS DATE) "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage81_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "PIT_Reporting80__MultiLoad_Clean_Up82__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage81_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage81_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_LKP",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Pit_Table_Load_Daily_Vuln_from_Stage81_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage81_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage81__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage81__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage81__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage81__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ]
      }
    }, {
      "name" : "Load_Metrics_Dash77_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Sequence_Container88_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Load_Metrics_Dash77__Clear_Current_Data78__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : " delete from    [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Metrics_Dash77__Load_tbl_Vuln_Metrics_Monthly",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Metrics_Dash77__Clear_Current_Data78__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "\nINSERT INTO \n   [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n\nSELECT  [CIO_Direct_Supplimented]\n      ,[Senior_Lead_Supplimented]\n      ,[TechnicalManager_App1]\n      ,[StatusFlag]\n      ,cast([FirstDetected] as date) as [FirstDetected]\n      ,cast([ValidatedDate] as date) as ValidatedDate\n      ,[TCOODueDate]\n      ,[CombID]\n      ,getdate()\n\n  FROM [PLHS].[dbo].[vw_Metrics_Detailed]\n "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    }, {
      "name" : "Get_Time_Stamp_Execution_Path76__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "PIT_Reporting80_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "select \ncase \nwhen DATEPART(hour,getdate() ) between 12 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 20 then 2\nelse 0 end as ExecuteSeriesFlag\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_Time_Stamp_Execution_Path76__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_Time_Stamp_Execution_Path76__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ExecutionFlag",
        "value" : "@activity('Get_Time_Stamp_Execution_Path76__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "SWITCHACTIVITY_0_Get_Time_Stamp_Execution_Path76__",
      "type" : "Switch",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path76__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "on" : {
          "value" : "@if(equals(variables('ExecutionFlag'),2), 'Case1', Default)",
          "type" : "Expression"
        },
        "cases" : [ {
          "value" : "Case1",
          "activities" : [ {
            "name" : "Sequence_Container88_",
            "type" : "IfCondition",
            "policy" : null,
            "dependsOn" : [ ],
            "state" : "Inactive",
            "description" : null,
            "onInactiveMarkAs" : "Succeeded",
            "typeProperties" : {
              "expression" : {
                "value" : "@equals(1,1)",
                "type" : "Expression"
              },
              "ifFalseActivities" : [ ],
              "ifTrueActivities" : [ {
                "name" : "Sequence_Container88__Multi_Load_delete_Dev90__SCR",
                "type" : "Script",
                "policy" : null,
                "dependsOn" : [ ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "linkedServiceName" : {
                  "referenceName" : "AzureSqlDatabase1",
                  "type" : "LinkedServiceReference"
                },
                "typeProperties" : {
                  "scripts" : [ {
                    "type" : "Query",
                    "text" : " delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static_dev]"
                  } ],
                  "scriptBlockExecutionTimeout" : null
                }
              }, {
                "name" : "Ad-_Hoc_Dev_Load89__OLE_DB_Destination",
                "type" : "SetVariable",
                "policy" : {
                  "timeout" : "00:30:00",
                  "retry" : 0,
                  "retryIntervalInSeconds" : 0,
                  "secureOutput" : false,
                  "secureInput" : false
                },
                "dependsOn" : [ ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "variableName" : "StageViewCount",
                  "value" : "@int(activity('Ad-_Hoc_Dev_Load89_').output.runStatus.metrics.OLE_DB_Destination.rowsWritten)"
                }
              }, {
                "name" : "Ad-_Hoc_Dev_Load89__OLE_DB_Destination",
                "type" : "SetVariable",
                "policy" : {
                  "timeout" : "00:30:00",
                  "retry" : 0,
                  "retryIntervalInSeconds" : 0,
                  "secureOutput" : false,
                  "secureInput" : false
                },
                "dependsOn" : [ ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "variableName" : "StageViewCount",
                  "value" : "@int(activity('Ad-_Hoc_Dev_Load89_').output.runStatus.metrics.OLE_DB_Destination.rowsWritten)"
                }
              }, {
                "name" : "Ad-_Hoc_Dev_Load89_0",
                "type" : "ExecutePipeline",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "Sequence_Container88__Multi_Load_delete_Dev90__SCR",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "userProperties" : null,
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "pipeline" : {
                    "referenceName" : "PPL_Generic_db_replication_Stage",
                    "type" : "PipelineReference"
                  },
                  "waitOnCompletion" : false,
                  "parameters" : { }
                }
              }, {
                "name" : "Ad-_Hoc_Dev_Load89_01",
                "type" : "ExecutePipeline",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "Ad-_Hoc_Dev_Load89_0",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "userProperties" : null,
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "pipeline" : {
                    "referenceName" : "PPL_Generic_db_replication_Stage",
                    "type" : "PipelineReference"
                  },
                  "waitOnCompletion" : false,
                  "parameters" : { }
                }
              }, {
                "name" : "Ad-_Hoc_Dev_Load89_",
                "type" : "Copy",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "Ad-_Hoc_Dev_Load89_01",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "source" : {
                    "type" : "AzureSqlsource"
                  },
                  "sink" : {
                    "type" : "AzureSqlSink",
                    "writeBehavior" : "insert",
                    "sqlWriterUseTableLock" : false
                  }
                },
                "inputs" : [ {
                  "referenceName" : "Generic_OLEDB_DS_LKP",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "",
                      "type" : "Expression"
                    }
                  }
                } ],
                "outputs" : [ {
                  "referenceName" : "Generic_OLEDB_DS_TGT",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "",
                      "type" : "Expression"
                    }
                  }
                } ]
              }, {
                "name" : "OLE_DB_Destination_Ad-_Hoc_Dev_Load89_",
                "type" : "Copy",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "Ad-_Hoc_Dev_Load89_",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "source" : { },
                  "sink" : {
                    "type" : "AzureSqlSink"
                  }
                },
                "inputs" : [ {
                  "referenceName" : "Generic_OLEDB_DS_TGT",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName",
                      "type" : "Expression"
                    }
                  }
                } ],
                "outputs" : [ {
                  "referenceName" : "Generic11",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName",
                      "type" : "Expression"
                    }
                  }
                } ]
              }, {
                "name" : "OLE_DB_Destination_Ad-_Hoc_Dev_Load89_",
                "type" : "Copy",
                "policy" : null,
                "dependsOn" : [ {
                  "activity" : "OLE_DB_Destination_Ad-_Hoc_Dev_Load89_",
                  "dependencyConditions" : [ "Succeeded" ]
                } ],
                "state" : null,
                "description" : null,
                "onInactiveMarkAs" : null,
                "typeProperties" : {
                  "source" : { },
                  "sink" : {
                    "type" : "AzureSqlSink"
                  }
                },
                "inputs" : [ {
                  "referenceName" : "Generic_OLEDB_DS_TGT",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_TableName",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__source_SchemaName",
                      "type" : "Expression"
                    }
                  }
                } ],
                "outputs" : [ {
                  "referenceName" : "Generic11",
                  "type" : "DatasetReference",
                  "parameters" : {
                    "TableName" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_TableName",
                      "type" : "Expression"
                    },
                    "Schema" : {
                      "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Ad-_Hoc_Dev_Load89__sink_SchemaName",
                      "type" : "Expression"
                    }
                  }
                } ]
              } ]
            }
          } ]
        } ],
        "defaultActivities" : [ ]
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_22_07/PLHS_Monthly_Metrics"
    },
    "parameters" : { },
    "variables" : {
      "ExecutionFlag" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "StageViewCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      }
    }
  }
}