pipeline/PPL_PCF_Weekly_1.json
{
  "name" : "ppl_pcf_weekly_1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Last_BP_Avail_ContainerName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'Last_Available_BP_Names325_') AS Last_BP_Avail_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Last_BP_Avail_FileName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'Last_Available_BP_Names325_') AS Last_BP_Avail_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Last_BP_Avail_FilePath' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'Last_Available_BP_Names325_') AS Last_BP_Avail_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'Last_Available_BP_Names325_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'Last_Available_BP_Names325_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'File_from_PCF_Dropzone_ContainerName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'New_PCF_File_Format326_') AS File_from_PCF_Dropzone_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'File_from_PCF_Dropzone_FileName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'New_PCF_File_Format326_') AS File_from_PCF_Dropzone_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'File_from_PCF_Dropzone_FilePath' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'New_PCF_File_Format326_') AS File_from_PCF_Dropzone_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_SchemaName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'New_PCF_File_Format326_') AS Sharepoint_TAS_Buildpacks_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_TableName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'New_PCF_File_Format326_') AS Sharepoint_TAS_Buildpacks_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'PCF_Build_Packs_All_Mappings_ContainerName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'PCF_All_data327_') AS PCF_Build_Packs_All_Mappings_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'PCF_Build_Packs_All_Mappings_FileName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'PCF_All_data327_') AS PCF_Build_Packs_All_Mappings_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'PCF_Build_Packs_All_Mappings_FilePath' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'PCF_All_data327_') AS PCF_Build_Packs_All_Mappings_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'PCF_All_data327_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'PCF_All_data327_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Last_Available_BP_Names325__source_SchemaName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Last_Available_BP_Names325_') AS OLE_DB_Destination_Last_Available_BP_Names325__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Last_Available_BP_Names325__source_TableName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Last_Available_BP_Names325_') AS OLE_DB_Destination_Last_Available_BP_Names325__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Last_Available_BP_Names325__sink_SchemaName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Last_Available_BP_Names325_') AS OLE_DB_Destination_Last_Available_BP_Names325__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Last_Available_BP_Names325__sink_TableName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Last_Available_BP_Names325_') AS OLE_DB_Destination_Last_Available_BP_Names325__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__source_SchemaName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format326_') AS Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__source_TableName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format326_') AS Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__sink_SchemaName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format326_') AS Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__sink_TableName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'Sharepoint_TAS_Buildpacks_New_PCF_File_Format326_') AS Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_PCF_All_data327__source_SchemaName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_PCF_All_data327_') AS OLE_DB_Destination_PCF_All_data327__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_PCF_All_data327__source_TableName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_PCF_All_data327_') AS OLE_DB_Destination_PCF_All_data327__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_PCF_All_data327__sink_SchemaName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_PCF_All_data327_') AS OLE_DB_Destination_PCF_All_data327__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_PCF_All_data327__sink_TableName' AND PIPELINE_NAME = 'PCF_Weekly_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_PCF_All_data327_') AS OLE_DB_Destination_PCF_All_data327__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "TodaysDate_File_1329__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DELETE  from [Sharepoint_TAS_Buildpacks]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "PCF_All_data327_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_Generic_db_replication_Stage",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "TodaysDate_File328__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "TodaysDate_File_1329__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "SELECT \n convert(varchar(8),cast(currentdate as date),112) Friday\nFROM \ndbo.calendar\nwhere cast(Getdate() as date) = cast(currentdate as date)"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "PCF_All_data327_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "PCF_All_data327_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "pcf_all_data327_",
          "type" : "DataFlowReference",
          "parameters" : { },
          "datasetParameters" : {
            "PCFBuildPacksAllMappings" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.PCFBuildPacksAllMappings_ContainerName",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.PCFBuildPacksAllMappings_FileName",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.PCFBuildPacksAllMappings_FilePath",
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "0_TodaysDate_File328__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "TodaysDate_File328__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "sFileDate",
        "value" : "@activity('TodaysDate_File328__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "OLE_DB_Destination_PCF_All_data327_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "PCF_All_data327_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_PCF_All_data327__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_PCF_All_data327__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_PCF_All_data327__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_PCF_All_data327__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "New_PCF_File_Format326_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_TodaysDate_File328__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_Generic_db_replication_Stage",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Last_Available_BP_Names325_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_PCF_All_data327_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_Generic_db_replication_Stage",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "New_PCF_File_Format326_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "New_PCF_File_Format326_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "new_pcf_file_format326_",
          "type" : "DataFlowReference",
          "parameters" : { },
          "datasetParameters" : {
            "SharepointTASBuildpacks" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.SharepointTASBuildpacks_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.SharepointTASBuildpacks_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "FilefromPCFDropzone" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.FilefromPCFDropzone_ContainerName",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.FilefromPCFDropzone_FileName",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.FilefromPCFDropzone_FilePath",
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Last_Available_BP_Names325_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Last_Available_BP_Names325_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "last_available_bp_names325_",
          "type" : "DataFlowReference",
          "parameters" : { },
          "datasetParameters" : {
            "LastBPAvail" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.LastBPAvail_ContainerName",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.LastBPAvail_FileName",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.LastBPAvail_FilePath",
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Sharepoint_TAS_Buildpacks_New_PCF_File_Format326_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "New_PCF_File_Format326_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Sharepoint_TAS_Buildpacks_New_PCF_File_Format326__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "OLE_DB_Destination_Last_Available_BP_Names325_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Last_Available_BP_Names325_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Last_Available_BP_Names325__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Last_Available_BP_Names325__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Last_Available_BP_Names325__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Last_Available_BP_Names325__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    } ],
    "folder" : {
      "name" : "Wellfargo_22_07/Vulnerability_ETL_v2022"
    },
    "parameters" : { },
    "variables" : {
      "sFileDate" : {
        "type" : "string"
      }
    }
  }
}