pipeline/PPL_SSIS_demo_CF_V1_1.json
{
  "name" : "PPL_SSIS_demo_CF_V1_1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Extract_Data_from_CSV_ContainerName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'CreateFiles31_') AS Extract_Data_from_CSV_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Extract_Data_from_CSV_FileName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'CreateFiles31_') AS Extract_Data_from_CSV_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Extract_Data_from_CSV_FilePath' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'CreateFiles31_') AS Extract_Data_from_CSV_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'CreateFiles31_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'CreateFiles31_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Source_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'CreateFiles27_') AS OLE_DB_Source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Source_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'CreateFiles27_') AS OLE_DB_Source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Flat_File_Destination_ContainerName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'CreateFiles27_') AS Flat_File_Destination_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Flat_File_Destination_FileName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'CreateFiles27_') AS Flat_File_Destination_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Flat_File_Destination_FilePath' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'CreateFiles27_') AS Flat_File_Destination_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '0_SequenceContainer34__CopyfileToLocal35__source_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = '0_SequenceContainer34__CopyfileToLocal35_') AS 0_SequenceContainer34__CopyfileToLocal35__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '0_SequenceContainer34__CopyfileToLocal35__source_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = '0_SequenceContainer34__CopyfileToLocal35_') AS 0_SequenceContainer34__CopyfileToLocal35__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '0_SequenceContainer34__CopyfileToLocal35__sink_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = '0_SequenceContainer34__CopyfileToLocal35_') AS 0_SequenceContainer34__CopyfileToLocal35__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '0_SequenceContainer34__CopyfileToLocal35__sink_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = '0_SequenceContainer34__CopyfileToLocal35_') AS 0_SequenceContainer34__CopyfileToLocal35__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'ReceiveFiles33_COPY_source_ContainerName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'ReceiveFiles33_COPY') AS ReceiveFiles33_COPY_source_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'ReceiveFiles33_COPY_source_FileName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'ReceiveFiles33_COPY') AS ReceiveFiles33_COPY_source_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'ReceiveFiles33_COPY_source_FilePath' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'ReceiveFiles33_COPY') AS ReceiveFiles33_COPY_source_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Flat_File_Destination_CreateFiles27__source_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'Flat_File_Destination_CreateFiles27_') AS Flat_File_Destination_CreateFiles27__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Flat_File_Destination_CreateFiles27__source_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'Flat_File_Destination_CreateFiles27_') AS Flat_File_Destination_CreateFiles27__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Flat_File_Destination_CreateFiles27__sink_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'Flat_File_Destination_CreateFiles27_') AS Flat_File_Destination_CreateFiles27__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Flat_File_Destination_CreateFiles27__sink_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'Flat_File_Destination_CreateFiles27_') AS Flat_File_Destination_CreateFiles27__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_CreateFiles31__source_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_CreateFiles31_') AS OLE_DB_Destination_CreateFiles31__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_CreateFiles31__source_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_CreateFiles31_') AS OLE_DB_Destination_CreateFiles31__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_CreateFiles31__sink_SchemaName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_CreateFiles31_') AS OLE_DB_Destination_CreateFiles31__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_CreateFiles31__sink_TableName' AND PIPELINE_NAME = 'SSIS_demo_CF_V1_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_CreateFiles31_') AS OLE_DB_Destination_CreateFiles31__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "ReceiveFiles33_COPY",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "DelimitedTextSource"
        },
        "sink" : {
          "type" : "DelimitedTextSink"
        }
      },
      "inputs" : [ ],
      "outputs" : [ ]
    }, {
      "name" : "TruncateTable41__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "ReceiveFiles33_COPY",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "TRUNCATE TABLE [dbo].[LaborChartJobTitles]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "CreateFiles31_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "TruncateTable41__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "CreateFiles31_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "CreateFiles31_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "CreateFiles31_",
          "type" : "DataFlowReference",
          "parameters" : {
            "FilePath" : {
              "type" : "Expression",
              "value" : "''"
            },
            "Status" : {
              "type" : "Expression",
              "value" : "'SUCC'"
            },
            "MailSubject" : {
              "type" : "Expression",
              "value" : "'Demo graph execution status'"
            },
            "MailRecepient" : {
              "type" : "Expression",
              "value" : "'test@gmail.com'"
            },
            "RecievedFilePath" : {
              "type" : "Expression",
              "value" : "'C:\\\\Users\\\\kirtib\\\\Desktop\\\\Demo\\\\Recieved_File.csv'"
            },
            "MailSender" : {
              "type" : "Expression",
              "value" : "''"
            },
            "Body_Succ" : {
              "type" : "Expression",
              "value" : "'\\\"Demo graph execution succeeded.\\\"'"
            },
            "Body_Failure" : {
              "type" : "Expression",
              "value" : "'\\\"Demo graph execution failed.\\\"'"
            },
            "var_datediff" : {
              "type" : "Expression",
              "value" : "0"
            },
            "var_CC" : {
              "type" : "Expression",
              "value" : "''"
            },
            "LocalFolder" : {
              "type" : "Expression",
              "value" : "'C:\\\\Users\\\\kirtib\\\\Desktop\\\\Demo'"
            },
            "var_BCC" : {
              "type" : "Expression",
              "value" : "''"
            },
            "DepartmentList" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "var_project" : {
              "type" : "Expression",
              "value" : "''"
            },
            "DepartmentName" : {
              "type" : "Expression",
              "value" : "''"
            },
            "var_Error_Description" : {
              "type" : "Expression",
              "value" : "'Description'"
            },
            "DestinationFolder" : {
              "type" : "Expression",
              "value" : "''"
            }
          },
          "datasetParameters" : {
            "ExtractDatafromCSV" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.ExtractDatafromCSV_ContainerName",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.ExtractDatafromCSV_FileName",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.ExtractDatafromCSV_FilePath",
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "OLE_DB_Destination_CreateFiles31_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "CreateFiles31_",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_CreateFiles31__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_CreateFiles31__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_CreateFiles31__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_CreateFiles31__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "SequenceContainer34_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_CreateFiles31_",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "0_SequenceContainer34__CopyfileToLocal35_",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.0_SequenceContainer34__CopyfileToLocal35__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.0_SequenceContainer34__CopyfileToLocal35__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "SequenceContainer34__SetStatus37_",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "0_SequenceContainer34__CopyfileToLocal35_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : "Expression Task",
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "Status",
            "value" : {
              "value" : "\"FAIL\"",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "SequenceContainer34__SendEmailSQL36__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "SequenceContainer34__SetStatus37_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "EXEC [dbo].[SendEmail]"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "SequenceContainer34__SMTDFFail38_",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "SequenceContainer34__SendEmailSQL36__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : null,
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        } ]
      }
    }, {
      "name" : "0_GetDepartmentNames30_",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_CreateFiles31_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "select distinct department from dbo.LaborChartJobTitles",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "SSIS_demo_CF_V1_124_.DB_Connection",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "SetTablename39_",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_CreateFiles31_",
        "dependencyConditions" : [ "Completed" ]
      } ],
      "state" : null,
      "description" : "Expression Task",
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_project",
        "value" : {
          "value" : "@pipeline().parameters.Table_Name",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FOREACH_CreateFilesPerDept26_",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_GetDepartmentNames30_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('0_GetDepartmentNames30_').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "CreateFilesPerDept26__CreatePath28_",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : "Expression Task",
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "FilePath",
            "value" : {
              "value" : "@concat('c:\\\\SSIS\\\\Output\\\\Employees_',pipeline().parameters.DepartmentName,'.csv')",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "CreateFiles27_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "CreateFilesPerDept26__CreatePath28_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_abc",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "CreateFiles27_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "CreateFiles27_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "CreateFiles27_",
              "type" : "DataFlowReference",
              "parameters" : {
                "FilePath" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "Status" : {
                  "type" : "Expression",
                  "value" : "'SUCC'"
                },
                "MailSubject" : {
                  "type" : "Expression",
                  "value" : "'Demo graph execution status'"
                },
                "MailRecepient" : {
                  "type" : "Expression",
                  "value" : "'test@gmail.com'"
                },
                "RecievedFilePath" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\Users\\\\kirtib\\\\Desktop\\\\Demo\\\\Recieved_File.csv'"
                },
                "MailSender" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "Body_Succ" : {
                  "type" : "Expression",
                  "value" : "'\\\"Demo graph execution succeeded.\\\"'"
                },
                "Body_Failure" : {
                  "type" : "Expression",
                  "value" : "'\\\"Demo graph execution failed.\\\"'"
                },
                "var_datediff" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "var_CC" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "LocalFolder" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\Users\\\\kirtib\\\\Desktop\\\\Demo'"
                },
                "var_BCC" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "DepartmentList" : {
                  "type" : "Expression",
                  "value" : "'                                                                                                                                                                                    '"
                },
                "var_project" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "DepartmentName" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "var_Error_Description" : {
                  "type" : "Expression",
                  "value" : "'Description'"
                },
                "DestinationFolder" : {
                  "type" : "Expression",
                  "value" : "''"
                }
              },
              "datasetParameters" : {
                "FlatFileDestination" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.FlatFileDestination_ContainerName",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.FlatFileDestination_FileName",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.FlatFileDestination_FilePath",
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "OLEDBSource" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBSource_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBSource_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "OLE DB Source",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "Flat_File_Destination_CreateFiles27_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "CreateFiles27_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlSource"
            },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Flat_File_Destination_CreateFiles27__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Flat_File_Destination_CreateFiles27__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Flat_File_Destination_CreateFiles27__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Flat_File_Destination_CreateFiles27__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ],
        "isSequential" : true
      }
    }, {
      "name" : "IFACTIVITY_BulkInsertTask25_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "SetTablename39_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('var_project'),'Manager')",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "BulkInsertTask25_",
          "type" : "Wait",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "waitTimeInSeconds" : 10
          }
        } ]
      }
    }, {
      "name" : "SMTSendEmail40_",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FOREACH_CreateFilesPerDept26_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : null,
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "ExpressionTask29_",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "IFACTIVITY_BulkInsertTask25_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : "Expression Task",
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_datediff",
        "value" : {
          "value" : "@notConvertedectfunctiondatedatediff('dd', '8/1/2003', '8/8/2003')",
          "type" : "Expression"
        }
      }
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest/SSIS_demo_CF_V2"
    },
    "parameters" : { },
    "variables" : {
      "FilePath" : {
        "type" : "string"
      },
      "Status" : {
        "type" : "string",
        "defaultValue" : "'SUCC'"
      },
      "MailSubject" : {
        "type" : "string",
        "defaultValue" : "'Demo graph execution status'"
      },
      "MailRecepient" : {
        "type" : "string",
        "defaultValue" : "'test@gmail.com'"
      },
      "RecievedFilePath" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\Users\\\\kirtib\\\\Desktop\\\\Demo\\\\Recieved_File.csv'"
      },
      "MailSender" : {
        "type" : "string"
      },
      "Body_Failure" : {
        "type" : "string",
        "defaultValue" : "'\\\"Demo graph execution failed.\\\"'"
      },
      "var_datediff" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "var_CC" : {
        "type" : "string"
      },
      "var_BCC" : {
        "type" : "string"
      },
      "DepartmentList" : {
        "type" : "string"
      },
      "var_project" : {
        "type" : "string"
      },
      "DepartmentName" : {
        "type" : "string"
      },
      "var_Error_Description" : {
        "type" : "string",
        "defaultValue" : "'Description'"
      }
    }
  }
}