pipeline/PPL_DRD_Server_QID_Submissions_2.json
{
  "name" : "PPL_DRD_Server_QID_Submissions_2",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "sFileName",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "sFileName",
        "value" : {
          "value" : "@replace(variables('sSearchFileName'),variables('sSearchDirectory'),'')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Found_File_ContainerName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = 'DOMSPT_FILE_FIND_LOAD200_') AS Found_File_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Found_File_FileName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = 'DOMSPT_FILE_FIND_LOAD200_') AS Found_File_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Found_File_FilePath' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = 'DOMSPT_FILE_FIND_LOAD200_') AS Found_File_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Lookup_LKP_TABLE_SchemaName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = 'DOMSPT_FILE_FIND_LOAD200_') AS Lookup_LKP_TABLE_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Lookup_LKP_TABLE_TableName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = 'DOMSPT_FILE_FIND_LOAD200_') AS Lookup_LKP_TABLE_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = 'DOMSPT_FILE_FIND_LOAD200_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = 'DOMSPT_FILE_FIND_LOAD200_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAForeach_Loop_Container198__Insert_Records_source_SchemaName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = '_COPYDATAForeach_Loop_Container198__Insert_Records') AS _COPYDATAForeach_Loop_Container198__Insert_Records_source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAForeach_Loop_Container198__Insert_Records_source_TableName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = '_COPYDATAForeach_Loop_Container198__Insert_Records') AS _COPYDATAForeach_Loop_Container198__Insert_Records_source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAForeach_Loop_Container198__Insert_Records_sink_SchemaName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = '_COPYDATAForeach_Loop_Container198__Insert_Records') AS _COPYDATAForeach_Loop_Container198__Insert_Records_sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAForeach_Loop_Container198__Insert_Records_sink_TableName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = '_COPYDATAForeach_Loop_Container198__Insert_Records') AS _COPYDATAForeach_Loop_Container198__Insert_Records_sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__source_SchemaName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200_') AS OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__source_TableName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200_') AS OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__sink_SchemaName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200_') AS OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__sink_TableName' AND PIPELINE_NAME = 'DRD_Server_QID_Submissions_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200_') AS OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "GETMETADATA_Foreach_Loop_Container198_",
      "type" : "GetMetadata",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "sFileName",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "fieldList" : [ "childItems" ],
        "dataset" : {
          "referenceName" : "Generic_OLEDB_DS_SRC",
          "type" : "DatasetReference",
          "parameters" : {
            "TableName" : {
              "value" : "",
              "type" : "Expression"
            },
            "Schema" : {
              "value" : "",
              "type" : "Expression"
            }
          }
        },
        "storeSettings" : {
          "type" : "AzureBlobStorageReadSettings",
          "enablePartitionDiscovery" : false
        },
        "formatSettings" : {
          "type" : "DelimitedTextReadSettings"
        }
      }
    }, {
      "name" : "FILTER_Foreach_Loop_Container198_",
      "type" : "Filter",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "GETMETADATA_Foreach_Loop_Container198_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('GETMETADATA_Foreach_Loop_Container198_').output.childItems",
          "type" : "Expression"
        },
        "condition" : {
          "value" : "@and(equals(item().type, 'File'), and(startswith(item().name, 'DOMSPT'), endswith(item().name, '.csv')))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FOREACH_Foreach_Loop_Container198_",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FILTER_Foreach_Loop_Container198_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('FILTER_Foreach_Loop_Container198_').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "SET_FileName",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "FileName",
            "value" : {
              "value" : "@concat('\\\\nccc822nvs1.wellsfargo.com\\C_TCO_Groups\\TCOO_Platform_Services\\Platform_Lifecycle_Health_Services\\Dropzone\\TCOOPE\\', item().name)",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "DOMSPT_FILE_FIND_LOAD200_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "SET_FileName",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_abc",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "DOMSPT_FILE_FIND_LOAD200_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "DOMSPT_FILE_FIND_LOAD200_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "DOMSPT_FILE_FIND_LOAD200_",
              "type" : "DataFlowReference",
              "parameters" : { },
              "datasetParameters" : {
                "FoundFile" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.FoundFile_ContainerName",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.FoundFile_FileName",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.FoundFile_FilePath",
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "LookupLKPTABLE" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.LookupLKPTABLE_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.LookupLKPTABLE_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Lookup",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "OLEDBDestination" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "DOMSPT_FILE_FIND_LOAD200_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "_COPYDATAForeach_Loop_Container198__Insert_Records",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "OLE_DB_Destination_DOMSPT_FILE_FIND_LOAD200_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow._COPYDATAForeach_Loop_Container198__Insert_Records_source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow._COPYDATAForeach_Loop_Container198__Insert_Records_source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "Foreach_Loop_Container198__Insert_Records201__DELE",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "_COPYDATAForeach_Loop_Container198__Insert_Records",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        }, {
          "name" : "Foreach_Loop_Container198__delete_extra_blank_reco",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Foreach_Loop_Container198__Insert_Records201__DELE",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "delete from [dbo].[tbl_TCOOPE_DRD_Server_QID_Mapping_v2]\nwhere DRDJiraNumber is null"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ],
        "isSequential" : true
      }
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest/Vulnerability_ETL"
    },
    "parameters" : { },
    "variables" : {
      "sFileName" : {
        "type" : "string"
      },
      "sArchiveDirectory" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\TCOOPE\\\\Archive\\\\'"
      },
      "sSearchDirectory" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\TCOOPE\\\\'"
      },
      "sSearchFileName" : {
        "type" : "string"
      }
    }
  }
}