pipeline/PPL_WFT_iTrackerLoad.json
{
  "name" : "PPL_WFT_iTrackerLoad",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker__SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'Counts_Normalization81_') AS iTracker__SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker__TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'Counts_Normalization81_') AS iTracker__TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'Counts_Normalization81_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'Counts_Normalization81_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'WFT_iTracker_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'WFT_iTracker_Load83_') AS WFT_iTracker_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'WFT_iTracker_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'WFT_iTracker_Load83_') AS WFT_iTracker_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'WFT_iTracker_Load83_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'WFT_iTracker_Load83_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Counts_Normalization81__source_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'OLE_DB_Destination_Counts_Normalization81_') AS OLE_DB_Destination_Counts_Normalization81__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Counts_Normalization81__source_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'OLE_DB_Destination_Counts_Normalization81_') AS OLE_DB_Destination_Counts_Normalization81__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Counts_Normalization81__sink_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'OLE_DB_Destination_Counts_Normalization81_') AS OLE_DB_Destination_Counts_Normalization81__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Counts_Normalization81__sink_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'OLE_DB_Destination_Counts_Normalization81_') AS OLE_DB_Destination_Counts_Normalization81__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_WFT_iTracker_Load83__source_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'OLE_DB_Destination_WFT_iTracker_Load83_') AS OLE_DB_Destination_WFT_iTracker_Load83__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_WFT_iTracker_Load83__source_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'OLE_DB_Destination_WFT_iTracker_Load83_') AS OLE_DB_Destination_WFT_iTracker_Load83__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_WFT_iTracker_Load83__sink_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'OLE_DB_Destination_WFT_iTracker_Load83_') AS OLE_DB_Destination_WFT_iTracker_Load83__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_WFT_iTracker_Load83__sink_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad' AND DATAFLOW_NAME = 'OLE_DB_Destination_WFT_iTracker_Load83_') AS OLE_DB_Destination_WFT_iTracker_Load83__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Execute_SQL_Task82__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "delete from [dbo].[WFT_iTracker]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "WFT_iTracker_Load83_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Execute_SQL_Task82__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "WFT_iTracker_Load83_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "WFT_iTracker_Load83_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlsource",
          "sqlReaderQuery" : "SELECT SN_CIO, \t   Server_WFGUID, \t   App_WFGUID, \t   COUNT(COMBID) INSTANCES, \t   ResponsibleParty, \t   [STATUS], \t   a.FeedType, \t   FirstDetected, \t   ConsequenceModelEscalationDate, \t   DueDate, \t   APPResponsibleDate, \t   TargetVersion, \t   ValidatedDate,                       Rating, solutionstatus,                        Title,                       SolutionGroup  \t    \t       FROM [cooiTracker2].[dbo].[vSORFeedsPrimary] (NOLOCK) a   where CAST(validateddate AS DATE) BETWEEN cast(getdate()-395  as date ) AND CAST(GETDATE() AS DATE) or validateddate is null       GROUP BY  \t   SN_CIO, \t   Server_WFGUID, \t   App_WFGUID, \t   ResponsibleParty, \t   [STATUS], \t   a.FeedType, \t   FirstDetected, \t   ConsequenceModelEscalationDate, \t   DueDate, \t   APPResponsibleDate, \t   TargetVersion, \t   ValidatedDate,                       Rating,solutionstatus,Title,                       SolutionGroup"
        },
        "sink" : {
          "type" : "AzureSqlSink",
          "writeBehavior" : "insert",
          "sqlWriterUseTableLock" : false
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_SRC",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "OLE_DB_Destination_WFT_iTracker_Load83_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "WFT_iTracker_Load83_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_WFT_iTracker_Load83__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_WFT_iTracker_Load83__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_WFT_iTracker_Load83__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_WFT_iTracker_Load83__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "Counts_Normalization81_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_WFT_iTracker_Load83_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Counts_Normalization81_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Counts_Normalization81_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlsource",
          "sqlReaderQuery" : "SELECT TOP (12) REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(SOLUTIONGROUP,'MW CONFIG - ',''),'APP PRODUCTS PATCH - ',''),'DB CONFIG - ',''), 'QUALYS PATH ' ,''),'MW EOL - ',''),'MW PATCHING - ',''),'DB EOL - ',''),'APP PRODUCTS EOL - ','') SOLUTIONGROUP, SUM(INSTANCES) TOTALINSTANCES ,GETDATE() AS import_date FROM [PLHS].[DBO].[VW_WFT_TCOO_ITRACKER_METRICS_TOPCOUNTS_LASTMONTH] WHERE RESPONSIBLEPARTY IN ('APPLICATION TEAM','ASSIGNED PRODUCT/PLATFORM') AND FEEDTYPE ='QUALYS' GROUP BY SOLUTIONGROUP ORDER BY TOTALINSTANCES DESC ) , CTE2 AS ( SELECT TOP (12) REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(A.SOLUTIONGROUP,'MW CONFIG - ',''),'APP PRODUCTS PATCH - ',''),'DB CONFIG - ',''), 'QUALYS PATH ' ,''),'MW EOL - ',''),'MW PATCHING - ',''),'DB EOL - ',''),'APP PRODUCTS EOL - ','') SOLUTIONGROUP, SUM(INSTANCES) TOTALINSTANCES FROM [PLHS].[DBO].[VW_WFT_TCOO_ITRACKER_METRICS_TOPCOUNTS_LASTMONTH] A WHERE RESPONSIBLEPARTY IN ('APPLICATION TEAM','ASSIGNED PRODUCT/PLATFORM') AND FEEDTYPE !='QUALYS' GROUP BY SOLUTIONGROUP ORDER BY TOTALINSTANCES DESC ) SELECT *, 'QUALYS' SOURCESYSTEM FROM CTE1 UNION ALL SELECT *, 'NON-QUALYS' SOURCESYSTEM FROM CTE2"
        },
        "sink" : {
          "type" : "AzureSqlSink",
          "writeBehavior" : "insert",
          "sqlWriterUseTableLock" : false
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_SRC",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "OLE_DB_Destination_Counts_Normalization81_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Counts_Normalization81_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Counts_Normalization81__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Counts_Normalization81__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Counts_Normalization81__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Counts_Normalization81__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest"
    },
    "parameters" : { },
    "variables" : { }
  }
}