pipeline/PPL_Employee_Dept_Details.json
{
  "name" : "PPL_Employee_Dept_Details",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'IFIL_Dept_ContainerName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_Demo21_') AS IFIL_Dept_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'IFIL_Dept_FileName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_Demo21_') AS IFIL_Dept_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'IFIL_Dept_FilePath' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_Demo21_') AS IFIL_Dept_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'IFIL_Emp_ContainerName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_Demo21_') AS IFIL_Emp_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'IFIL_Emp_FileName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_Demo21_') AS IFIL_Emp_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'IFIL_Emp_FilePath' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_Demo21_') AS IFIL_Emp_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'LKP_Manager_LKP_TABLE_SchemaName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_Demo21_') AS LKP_Manager_LKP_TABLE_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'LKP_Manager_LKP_TABLE_TableName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_Demo21_') AS LKP_Manager_LKP_TABLE_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dept_20_SchemaName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_Demo21_') AS Dept_20_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dept_20_TableName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_Demo21_') AS Dept_20_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dept_20_Dept_Demo21__source_SchemaName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_20_Dept_Demo21_') AS Dept_20_Dept_Demo21__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dept_20_Dept_Demo21__source_TableName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_20_Dept_Demo21_') AS Dept_20_Dept_Demo21__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dept_20_Dept_Demo21__sink_SchemaName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_20_Dept_Demo21_') AS Dept_20_Dept_Demo21__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dept_20_Dept_Demo21__sink_TableName' AND PIPELINE_NAME = 'Employee_Dept_Details' AND DATAFLOW_NAME = 'Dept_20_Dept_Demo21_') AS Dept_20_Dept_Demo21__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Dept_Demo21_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Dept_Demo21_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Dept_Demo21_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Dept_Demo21_",
          "type" : "DataFlowReference",
          "parameters" : {
            "Dept10" : {
              "type" : "Expression",
              "value" : "0"
            },
            "RS_DEPT10" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "Dept20" : {
              "type" : "Expression",
              "value" : "0"
            }
          },
          "datasetParameters" : {
            "IFILDept" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.IFILDept_ContainerName",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.IFILDept_FileName",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.IFILDept_FilePath",
                "type" : "Expression"
              },
              "ColumnDelimiter" : null
            },
            "Dept20" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dept20_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dept20_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "IFILEmp" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.IFILEmp_ContainerName",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.IFILEmp_FileName",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.IFILEmp_FilePath",
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "LKPManagerLKPTABLE" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.LKPManagerLKPTABLE_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.LKPManagerLKPTABLE_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP_Manager",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Dept_20_Dept_Demo21_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Dept_Demo21_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dept_20_Dept_Demo21__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dept_20_Dept_Demo21__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dept_20_Dept_Demo21__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Dept_20_Dept_Demo21__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest"
    },
    "parameters" : { },
    "variables" : {
      "RS_DEPT10" : {
        "type" : "string"
      }
    }
  }
}