pipeline/PPL_Replicate Tables.json
{
  "name" : "PPL_Replicate Tables",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Read_PROD_TASK_RELATED_RELEASE_SchemaName' AND PIPELINE_NAME = 'Replicate Tables' AND DATAFLOW_NAME = 'Replicate_TASK_RELATED_RELEASE2_') AS Read_PROD_TASK_RELATED_RELEASE_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Read_PROD_TASK_RELATED_RELEASE_TableName' AND PIPELINE_NAME = 'Replicate Tables' AND DATAFLOW_NAME = 'Replicate_TASK_RELATED_RELEASE2_') AS Read_PROD_TASK_RELATED_RELEASE_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Write_DEV_TASK_RELATED_RELEASE_SchemaName' AND PIPELINE_NAME = 'Replicate Tables' AND DATAFLOW_NAME = 'Replicate_TASK_RELATED_RELEASE2_') AS Write_DEV_TASK_RELATED_RELEASE_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Write_DEV_TASK_RELATED_RELEASE_TableName' AND PIPELINE_NAME = 'Replicate Tables' AND DATAFLOW_NAME = 'Replicate_TASK_RELATED_RELEASE2_') AS Write_DEV_TASK_RELATED_RELEASE_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__source_SchemaName' AND PIPELINE_NAME = 'Replicate Tables' AND DATAFLOW_NAME = 'Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2_') AS Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__source_TableName' AND PIPELINE_NAME = 'Replicate Tables' AND DATAFLOW_NAME = 'Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2_') AS Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__sink_SchemaName' AND PIPELINE_NAME = 'Replicate Tables' AND DATAFLOW_NAME = 'Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2_') AS Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__sink_TableName' AND PIPELINE_NAME = 'Replicate Tables' AND DATAFLOW_NAME = 'Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2_') AS Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Delete_TASK_RELATED_RELEASE1__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DELETE FROM ITM_STG.TASK_RELATED_RELEASE"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "Replicate_TASK_RELATED_RELEASE2_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Delete_TASK_RELATED_RELEASE1__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Replicate_TASK_RELATED_RELEASE2_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Replicate_TASK_RELATED_RELEASE2_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlsource",
          "sqlReaderQuery" : "SELECT * FROM ITM_STG.TASK_RELATED_RELEASE"
        },
        "sink" : {
          "type" : "AzureSqlSink",
          "writeBehavior" : "insert",
          "sqlWriterUseTableLock" : false
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_SRC",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Replicate_TASK_RELATED_RELEASE2_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Write_DEV_TASK_RELATED_RELEASE_Replicate_TASK_RELATED_RELEASE2__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest"
    },
    "parameters" : { },
    "variables" : { }
  }
}