pipeline/PPL_DailyRefresh_ActiveVulnTbl_2.json
{
  "name" : "PPL_DailyRefresh_ActiveVulnTbl_2",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Daily_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage174_') AS Static_Daily_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Daily_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage174_') AS Static_Daily_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage174_') AS Pit_Table_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage174_') AS Pit_Table_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Stage_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage178_') AS Stage_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Stage_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage178_') AS Stage_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage178_') AS Static_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage178_') AS Static_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Vuln_View_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View179_') AS Vuln_View_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Vuln_View_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View179_') AS Vuln_View_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View179_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View179_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage174__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage174_') AS Pit_Table_Load_Daily_Vuln_from_Stage174__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage174__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage174_') AS Pit_Table_Load_Daily_Vuln_from_Stage174__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage174__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage174_') AS Pit_Table_Load_Daily_Vuln_from_Stage174__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage174__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage174_') AS Pit_Table_Load_Daily_Vuln_from_Stage174__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage178__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage178_') AS Static_Load_Daily_Vuln_from_Stage178__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage178__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage178_') AS Static_Load_Daily_Vuln_from_Stage178__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage178__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage178_') AS Static_Load_Daily_Vuln_from_Stage178__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage178__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage178_') AS Static_Load_Daily_Vuln_from_Stage178__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View179__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View179_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View179__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View179__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View179_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View179__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View179__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View179_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View179__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View179__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View179_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View179__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Prod176_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Prod176__Truncate_Daily_Vuln_Table180__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "TRUNCATE TABLE  [PLHS].[dbo].[tbl_VulnActive_Daily_Static_stage]"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Daily_Vuln_from_View179_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Prod176__Truncate_Daily_Vuln_Table180__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_abc",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Load_Daily_Vuln_from_View179_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_View179_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_SRC",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "OLE_DB_Destination_Load_Daily_Vuln_from_View179_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_View179_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View179__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View179__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View179__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View179__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Load_Daily_Vuln_from_View179__OLE_DB_Destination",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "OLE_DB_Destination_Load_Daily_Vuln_from_View179_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "StageViewCount",
            "value" : "@int(activity('Load_Daily_Vuln_from_View179_').output.runStatus.metrics.OLE_DB_Destination.rowsWritten)"
          }
        }, {
          "name" : "IFACTIVITY_Prod176__delete_data_from_Static_to_loa",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_View179__OLE_DB_Destination",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@greater(variables('StageViewCount'),0)",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "Prod176__delete_data_from_Static_to_load_from_stag",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : "TRUNCATE TABLE  [PLHS].[dbo].[tbl_VulnActive_Daily_Static]"
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage178_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "IFACTIVITY_Prod176__delete_data_from_Static_to_loa",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_abc",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage178_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage178_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource",
              "sqlReaderQuery" : "SELECT * FROM dbo.tbl_VulnActive_Daily_Static_Stage"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_SRC",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Static_Load_Daily_Vuln_from_Stage178_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage178_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage178__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage178__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage178__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage178__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ]
      }
    }, {
      "name" : "PIT_Reporting173_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prod176_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "PIT_Reporting173__MultiLoad_Clean_Up175__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "DELETE FROM  [PLHS].[dbo].[tbl_VulnActive_Daily_PIT_MetricsSource_dev]\nWHERE PIT_Date = CAST(GETDATE() AS DATE) "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage174_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "PIT_Reporting173__MultiLoad_Clean_Up175__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_abc",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage174_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage174_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_SRC",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Pit_Table_Load_Daily_Vuln_from_Stage174_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage174_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage174__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage174__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage174__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage174__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ]
      }
    }, {
      "name" : "Get_Time_Stamp_Execution_Path169__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "PIT_Reporting173_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "select \ncase \nwhen DATEPART(hour,getdate() ) between 12 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 20 then 2\nelse 0 end as ExecuteSeriesFlag\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_Time_Stamp_Execution_Path169__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_Time_Stamp_Execution_Path169__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ExecutionFlag",
        "value" : "@activity('Get_Time_Stamp_Execution_Path169__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Load_Metrics_Dash170_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path169__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('ExecutionFlag'),2)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Load_Metrics_Dash170__Clear_Current_Data171__SCRIP",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "TRUNCATE TABLE [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Metrics_Dash170__Load_tbl_Vuln_Metrics_Monthl",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Metrics_Dash170__Clear_Current_Data171__SCRIP",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "\nINSERT INTO \n   [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n\nSELECT  [CIO_Direct_Supplimented]\n      ,[Senior_Lead_Supplimented]\n      ,[TechnicalManager_App1]\n      ,[StatusFlag]\n      ,cast([FirstDetected] as date) as [FirstDetected]\n      ,cast([ValidatedDate] as date) as ValidatedDate\n      ,[TCOODueDate]\n      ,[CombID]\n      ,getdate()\n\n  FROM [PLHS].[dbo].[vw_Metrics_Detailed]\n "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest/Vulnerability_ETL"
    },
    "parameters" : { },
    "variables" : {
      "ExecutionFlag" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "StageViewCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      }
    }
  }
}