pipeline/PPL_LCM_ScopeAnalysis_2.json
{
  "name" : "ppl_lcm_scopeanalysis_2",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "ArchiveUpdates",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ArchiveUpdates",
        "value" : {
          "value" : "@concat('\\\\\\\\wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\Updates_',variables('TimeStamp'),'.csv')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "sArchiveUpdates",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "sArchiveUpdates",
        "value" : {
          "value" : "@concat('\\\\\\\\wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\NewLCM_',variables('TimeStamp'),'.csv')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Raw_LCM_NEw_ContainerName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week305_') AS Raw_LCM_NEw_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Raw_LCM_NEw_FileName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week305_') AS Raw_LCM_NEw_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Raw_LCM_NEw_FilePath' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week305_') AS Raw_LCM_NEw_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_LCM_NewWeek_Tracking_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week305_') AS tbl_LCM_NewWeek_Tracking_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_LCM_NewWeek_Tracking_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week305_') AS tbl_LCM_NewWeek_Tracking_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'RowCountInsertValidation_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'LoadCheck308_') AS RowCountInsertValidation_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'RowCountInsertValidation_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'LoadCheck308_') AS RowCountInsertValidation_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Export_Format_ContainerName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week312_') AS Export_Format_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Export_Format_FileName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week312_') AS Export_Format_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Export_Format_FilePath' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week312_') AS Export_Format_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Lookup_LKP_TABLE_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week312_') AS Lookup_LKP_TABLE_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Lookup_LKP_TABLE_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week312_') AS Lookup_LKP_TABLE_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week312_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week312_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_1_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week312_') AS OLE_DB_Destination_1_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_1_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Extract_Prev_Week312_') AS OLE_DB_Destination_1_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Flat_File_Source_ContainerName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Data_Flow_Task317_') AS Flat_File_Source_ContainerName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Flat_File_Source_FileName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Data_Flow_Task317_') AS Flat_File_Source_FileName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Flat_File_Source_FilePath' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Data_Flow_Task317_') AS Flat_File_Source_FilePath,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Data_Flow_Task317_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'Data_Flow_Task317_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATACollect_New_LCM_File304__File_System_Task_source_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATACollect_New_LCM_File304__File_System_Task') AS _COPYDATACollect_New_LCM_File304__File_System_Task_source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATACollect_New_LCM_File304__File_System_Task_source_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATACollect_New_LCM_File304__File_System_Task') AS _COPYDATACollect_New_LCM_File304__File_System_Task_source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATACollect_New_LCM_File304__File_System_Task_sink_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATACollect_New_LCM_File304__File_System_Task') AS _COPYDATACollect_New_LCM_File304__File_System_Task_sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATACollect_New_LCM_File304__File_System_Task_sink_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATACollect_New_LCM_File304__File_System_Task') AS _COPYDATACollect_New_LCM_File304__File_System_Task_sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__source_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305_') AS tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__source_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305_') AS tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__sink_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305_') AS tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__sink_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305_') AS tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATACollect_Updates310__File_System_Task313__source_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATACollect_Updates310__File_System_Task313_') AS _COPYDATACollect_Updates310__File_System_Task313__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATACollect_Updates310__File_System_Task313__source_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATACollect_Updates310__File_System_Task313_') AS _COPYDATACollect_Updates310__File_System_Task313__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATACollect_Updates310__File_System_Task313__sink_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATACollect_Updates310__File_System_Task313_') AS _COPYDATACollect_Updates310__File_System_Task313__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATACollect_Updates310__File_System_Task313__sink_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATACollect_Updates310__File_System_Task313_') AS _COPYDATACollect_Updates310__File_System_Task313__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Extract_Prev_Week312__source_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Extract_Prev_Week312_') AS OLE_DB_Destination_Extract_Prev_Week312__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Extract_Prev_Week312__source_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Extract_Prev_Week312_') AS OLE_DB_Destination_Extract_Prev_Week312__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Extract_Prev_Week312__sink_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Extract_Prev_Week312_') AS OLE_DB_Destination_Extract_Prev_Week312__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Extract_Prev_Week312__sink_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Extract_Prev_Week312_') AS OLE_DB_Destination_Extract_Prev_Week312__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_1_Extract_Prev_Week312__source_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_1_Extract_Prev_Week312_') AS OLE_DB_Destination_1_Extract_Prev_Week312__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_1_Extract_Prev_Week312__source_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_1_Extract_Prev_Week312_') AS OLE_DB_Destination_1_Extract_Prev_Week312__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_1_Extract_Prev_Week312__sink_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_1_Extract_Prev_Week312_') AS OLE_DB_Destination_1_Extract_Prev_Week312__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_1_Extract_Prev_Week312__sink_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_1_Extract_Prev_Week312_') AS OLE_DB_Destination_1_Extract_Prev_Week312__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAForeach_Loop_Container316__File_System_Ta_source_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATAForeach_Loop_Container316__File_System_Ta') AS _COPYDATAForeach_Loop_Container316__File_System_Ta_source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAForeach_Loop_Container316__File_System_Ta_source_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATAForeach_Loop_Container316__File_System_Ta') AS _COPYDATAForeach_Loop_Container316__File_System_Ta_source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAForeach_Loop_Container316__File_System_Ta_sink_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATAForeach_Loop_Container316__File_System_Ta') AS _COPYDATAForeach_Loop_Container316__File_System_Ta_sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = '_COPYDATAForeach_Loop_Container316__File_System_Ta_sink_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = '_COPYDATAForeach_Loop_Container316__File_System_Ta') AS _COPYDATAForeach_Loop_Container316__File_System_Ta_sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Data_Flow_Task317__source_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Data_Flow_Task317_') AS OLE_DB_Destination_Data_Flow_Task317__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Data_Flow_Task317__source_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Data_Flow_Task317_') AS OLE_DB_Destination_Data_Flow_Task317__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Data_Flow_Task317__sink_SchemaName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Data_Flow_Task317_') AS OLE_DB_Destination_Data_Flow_Task317__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Data_Flow_Task317__sink_TableName' AND PIPELINE_NAME = 'LCM_ScopeAnalysis_2' AND DATAFLOW_NAME = 'OLE_DB_Destination_Data_Flow_Task317_') AS OLE_DB_Destination_Data_Flow_Task317__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "GETMETADATA_Collect_Updates310_",
      "type" : "GetMetadata",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "sArchiveUpdates",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "ArchiveUpdates",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "fieldList" : [ "childItems" ],
        "dataset" : {
          "referenceName" : "Generic_OLEDB_DS_SRC",
          "type" : "DatasetReference",
          "parameters" : {
            "TableName" : {
              "value" : "",
              "type" : "Expression"
            },
            "Schema" : {
              "value" : "",
              "type" : "Expression"
            }
          }
        },
        "storeSettings" : {
          "type" : "AzureBlobStorageReadSettings",
          "enablePartitionDiscovery" : false
        },
        "formatSettings" : {
          "type" : "DelimitedTextReadSettings"
        }
      }
    }, {
      "name" : "FILTER_Collect_Updates310_",
      "type" : "Filter",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "GETMETADATA_Collect_Updates310_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('GETMETADATA_Collect_Updates310_').output.childItems",
          "type" : "Expression"
        },
        "condition" : {
          "value" : "@and(equals(item().type, 'File'), and(startswith(item().name, 'TCOOUpdates'), endswith(item().name, '.csv')))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FOREACH_Collect_Updates310_",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FILTER_Collect_Updates310_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('FILTER_Collect_Updates310_').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "SET_FileName",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "FileName",
            "value" : {
              "value" : "@concat('\\\\nccc822nvs1.wellsfargo.com\\C_TCO_Groups\\TCOO_Platform_Services\\Platform_Lifecycle_Health_Services\\Dropzone\\LCM', item().name)",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "Collect_Updates310__DELETE_FROM_DIFF311__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "SET_FileName",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "delete from \n\n\n[dbo].[tbl_LCM_TCOO_Diff_Intraday_dev] \n\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Extract_Prev_Week312_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Collect_Updates310__DELETE_FROM_DIFF311__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Extract_Prev_Week312_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Extract_Prev_Week312_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "extract_prev_week312_",
              "type" : "DataFlowReference",
              "parameters" : { },
              "datasetParameters" : {
                "OLEDBDestination" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "LookupLKPTABLE" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.LookupLKPTABLE_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.LookupLKPTABLE_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Lookup",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "ExportFormat" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.ExportFormat_ContainerName",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.ExportFormat_FileName",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.ExportFormat_FilePath",
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "OLEDBDestination1" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination1_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination1_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "OLE_DB_Destination_Extract_Prev_Week312_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Extract_Prev_Week312_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Extract_Prev_Week312__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Extract_Prev_Week312__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Extract_Prev_Week312__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Extract_Prev_Week312__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "OLE_DB_Destination_1_Extract_Prev_Week312_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Extract_Prev_Week312_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_1_Extract_Prev_Week312__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_1_Extract_Prev_Week312__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_1_Extract_Prev_Week312__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_1_Extract_Prev_Week312__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Collect_Updates310__move_to_archive315__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "OLE_DB_Destination_Extract_Prev_Week312_",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "OLE_DB_Destination_1_Extract_Prev_Week312_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "INSERT INTO [PLHS].[dbo].[tbl_LCM_TCOO_Diff_Intraday_Archive_dev]\n\n\n( \n      [PLHIS Contact]\n      ,[PLHIS Updated Date]\n      ,[Notes]\n      ,[Ramservername]\n      ,[Lcmstatus]\n      ,[TCOOStatus]\n      ,[TCOOMigrationStatus]\n      ,[Ciodirectname]\n      ,[Primarytechmgr]\n      ,[Managedbygroup]\n      ,[Primary Applicatioin]\n      ,[Environment]\n      ,[Cio]\n      ,[Ciodirect]\n      ,[Cistatus]\n      ,[Rtstatus]\n      ,[Rtplannedactivity]\n      ,[Fundingdate]\n      ,[Rtdecomdate]\n      ,[Rtplancertifieddate]\n      ,[Hweoldate]\n      ,[Applicationids]\n      ,[Normalizedos]\n      ,[Eol Hw Thru 2023]\n      ,[Hds Thru 2022]\n      ,[Cioname]\n      ,[Vm On Hds2022 Esx Depthru 2023]\n      ,[Productname]\n      ,[Hds Thru 2023]\n      ,[Hds Thru 2024]\n      ,[sourceCIOdirName]\n      ,[TCOO Extension Aggregated]\n      ,[NewSourceLCM_AsOf]\n      ,[ChangeNumber]\n      ,[Decom_Date]\n      ,[Extension_Date]\n      ,[ISPNumber]\n,[JiraNumber]\n      ,[TCOOPlanningDecomDT]\n      ,[Import_date]\n)\n\nSELECT [PLHIS Contact]\n      ,[PLHIS Updated Date]\n      ,[Notes]\n      ,[Ramservername]\n      ,[Lcmstatus]\n      ,[TCOOStatus]\n      ,[TCOOMigrationStatus]\n      ,[Ciodirectname]\n      ,[Primarytechmgr]\n      ,[Managedbygroup]\n      ,[Primary Applicatioin]\n      ,[Environment]\n      ,[Cio]\n      ,[Ciodirect]\n      ,[Cistatus]\n      ,[Rtstatus]\n      ,[Rtplannedactivity]\n      ,[Fundingdate]\n      ,[Rtdecomdate]\n      ,[Rtplancertifieddate]\n      ,[Hweoldate]\n      ,[Applicationids]\n      ,[Normalizedos]\n      ,[Eol Hw Thru 2023]\n      ,[Hds Thru 2022]\n      ,[Cioname]\n      ,[Vm On Hds2022 Esx Depthru 2023]\n      ,[Productname]\n      ,[Hds Thru 2023]\n      ,[Hds Thru 2024]\n      ,[sourceCIOdirName]\n      ,[TCOO Extension Aggregated]\n      ,[NewSourceLCM_AsOf]\n      ,[ChangeNumber]\n      ,[Decom_Date]\n      ,[Extension_Date]\n      ,[ISPNumber]\n,[JiraNumber],\n       [TCOOPlanningDecomDT] \n\n  \n      ,[Import_date]\n\n  FROM [PLHS].[dbo].[tbl_LCM_TCOO_Diff_Intraday_dev]"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Collect_Updates310__get_timestamp314__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Collect_Updates310__move_to_archive315__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : " select replace(cast(cast(getdate() as time) as nvarchar(8)),':','_')"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_Collect_Updates310__get_timestamp314__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Collect_Updates310__get_timestamp314__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "TimeStamp",
            "value" : "@activity('Collect_Updates310__get_timestamp314__SCRIPT').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "_COPYDATACollect_Updates310__File_System_Task313_",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "0_Collect_Updates310__get_timestamp314__VA",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow._COPYDATACollect_Updates310__File_System_Task313__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow._COPYDATACollect_Updates310__File_System_Task313__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "Collect_Updates310__File_System_Task313__DELETE",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "_COPYDATACollect_Updates310__File_System_Task313_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        } ],
        "isSequential" : true
      }
    }, {
      "name" : "Update_from_Updates321__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FOREACH_Collect_Updates310_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : " update tbl_LCM_PrevWeek_ScopeTracker_dev\nset \nNotes = b.Notes\n,TCOOMigrationStatus = B.TCOOMigrationStatus\n,TCOOStatus = B.TCOOStatus\n,Lcmstatus = B.Lcmstatus\n,Ciodirectname = B.Ciodirectname\n,Primarytechmgr = B.Primarytechmgr\n,[PLHIS Contact] = b.[PLHIS Contact]\n,[Cistatus] = b.[Cistatus]\n,Import_date = B.Import_date\n,[TCOO Extension Aggregated] = b.[TCOO Extension Aggregated]\n ,[ISPNumber] = b.[ISPNumber]\n,[ChangeNumber] = b.[ChangeNumber] \n ,[Decom_Date] = b.[Decom_Date]\n ,[Extension_Date] = b.[Extension_Date] \n , [JiraNumber] =\tb.[JiraNumber],\n   [TCOOPlanningDecomDT] =b.[TCOOPlanningDecomDT] \n\nFROM tbl_LCM_PrevWeek_ScopeTracker_dev A \ninner join (select max(ID)MXID , Ramservername FROM tbl_LCM_PrevWeek_ScopeTracker_dev GROUP BY Ramservername) C ON C.Ramservername = A.Ramservername AND C.MXID = A.ID \nINNER JOIN  [tbl_LCM_TCOO_Diff_Intraday_dev] B ON A.Ramservername = B.Ramservername"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "GETMETADATA_Collect_New_LCM_File304_",
      "type" : "GetMetadata",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Update_from_Updates321__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "fieldList" : [ "childItems" ],
        "dataset" : {
          "referenceName" : "Generic_OLEDB_DS_SRC",
          "type" : "DatasetReference",
          "parameters" : {
            "TableName" : {
              "value" : "",
              "type" : "Expression"
            },
            "Schema" : {
              "value" : "",
              "type" : "Expression"
            }
          }
        },
        "storeSettings" : {
          "type" : "AzureBlobStorageReadSettings",
          "enablePartitionDiscovery" : false
        },
        "formatSettings" : {
          "type" : "DelimitedTextReadSettings"
        }
      }
    }, {
      "name" : "FILTER_Collect_New_LCM_File304_",
      "type" : "Filter",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "GETMETADATA_Collect_New_LCM_File304_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('GETMETADATA_Collect_New_LCM_File304_').output.childItems",
          "type" : "Expression"
        },
        "condition" : {
          "value" : "@and(equals(item().type, 'File'), equals(item().name, 'csv'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FOREACH_Collect_New_LCM_File304_",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FILTER_Collect_New_LCM_File304_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('FILTER_Collect_New_LCM_File304_').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "SET_FileName",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "FileName",
            "value" : {
              "value" : "@concat('\\\\nccc822nvs1.wellsfargo.com\\C_TCO_Groups\\TCOO_Platform_Services\\Platform_Lifecycle_Health_Services\\Dropzone\\LCM', item().name)",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "Collect_New_LCM_File304__MultiLoad_Delete309__SCRI",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "SET_FileName",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "\ndelete from [dbo].[tbl_LCM_NewWeek_Tracking]\n\nwhere import_Date  = cast(getdate() as date) \n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Extract_Prev_Week305_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Collect_New_LCM_File304__MultiLoad_Delete309__SCRI",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Extract_Prev_Week305_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Extract_Prev_Week305_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "extract_prev_week305_",
              "type" : "DataFlowReference",
              "parameters" : { },
              "datasetParameters" : {
                "RawLCMNEw" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.RawLCMNEw_ContainerName",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.RawLCMNEw_FileName",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.RawLCMNEw_FilePath",
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "tblLCMNewWeekTracking" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.tblLCMNewWeekTracking_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.tblLCMNewWeekTracking_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Extract_Prev_Week305_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Extract_Prev_Week305__tbl_LCM_NewWeek_Tracking",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "tbl_LCM_NewWeek_Tracking_Extract_Prev_Week305_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "NewWeekLCM",
            "value" : "@int(activity('Extract_Prev_Week305_').output.runStatus.metrics.tbl_LCM_NewWeek_Tracking.rowsWritten)"
          }
        }, {
          "name" : "LoadCheck308_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Extract_Prev_Week305__tbl_LCM_NewWeek_Tracking",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "LoadCheck308_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "LoadCheck308_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : "Inactive",
          "description" : null,
          "onInactiveMarkAs" : "Succeeded",
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource"
            },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ ],
          "outputs" : [ ]
        }, {
          "name" : "Collect_New_LCM_File304__get_timestamp307__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "LoadCheck308_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : " select replace(cast(cast(getdate() as time) as nvarchar(8)),':','_')"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_Collect_New_LCM_File304__get_timestamp307__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Collect_New_LCM_File304__get_timestamp307__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "TimeStamp",
            "value" : "@activity('Collect_New_LCM_File304__get_timestamp307__SCRIPT').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "_COPYDATACollect_New_LCM_File304__File_System_Task",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "0_Collect_New_LCM_File304__get_timestamp307__VA",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow._COPYDATACollect_New_LCM_File304__File_System_Task_source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow._COPYDATACollect_New_LCM_File304__File_System_Task_source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "Collect_New_LCM_File304__File_System_Task306__DELE",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "_COPYDATACollect_New_LCM_File304__File_System_Task",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        } ],
        "isSequential" : true
      }
    }, {
      "name" : "GETMETADATA_Foreach_Loop_Container316_",
      "type" : "GetMetadata",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "FOREACH_Collect_New_LCM_File304_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "fieldList" : [ "childItems" ],
        "dataset" : {
          "referenceName" : "Generic_OLEDB_DS_SRC",
          "type" : "DatasetReference",
          "parameters" : {
            "TableName" : {
              "value" : "",
              "type" : "Expression"
            },
            "Schema" : {
              "value" : "",
              "type" : "Expression"
            }
          }
        },
        "storeSettings" : {
          "type" : "AzureBlobStorageReadSettings",
          "enablePartitionDiscovery" : false
        },
        "formatSettings" : {
          "type" : "DelimitedTextReadSettings"
        }
      }
    }, {
      "name" : "FILTER_Foreach_Loop_Container316_",
      "type" : "Filter",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "GETMETADATA_Foreach_Loop_Container316_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('GETMETADATA_Foreach_Loop_Container316_').output.childItems",
          "type" : "Expression"
        },
        "condition" : {
          "value" : "@and(equals(item().type, 'File'), equals(item().name, 'csv'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FOREACH_Foreach_Loop_Container316_",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FILTER_Foreach_Loop_Container316_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('FILTER_Foreach_Loop_Container316_').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "SET_FileName",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "FileName",
            "value" : {
              "value" : "@concat('\\\\nccc822nvs1.wellsfargo.com\\C_TCO_Groups\\TCOO_Platform_Services\\Platform_Lifecycle_Health_Services\\Dropzone\\LCM\\', item().name)",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "Foreach_Loop_Container316__MultiLoad_Delete320__SC",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "SET_FileName",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "\ndelete\n  FROM [PLHS].[dbo].[tbl_LCM_PlanningWeekly]\n\nwhere import_Date  = cast(getdate() as date) \n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Data_Flow_Task317_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Foreach_Loop_Container316__MultiLoad_Delete320__SC",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Data_Flow_Task317_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Data_Flow_Task317_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "data_flow_task317_",
              "type" : "DataFlowReference",
              "parameters" : { },
              "datasetParameters" : {
                "FlatFileSource" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.FlatFileSource_ContainerName",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.FlatFileSource_FileName",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.FlatFileSource_FilePath",
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "OLEDBDestination" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "OLE_DB_Destination_Data_Flow_Task317_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Data_Flow_Task317_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Data_Flow_Task317__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Data_Flow_Task317__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Data_Flow_Task317__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Data_Flow_Task317__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Foreach_Loop_Container316__get_timestamp319__SCRIP",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "OLE_DB_Destination_Data_Flow_Task317_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : " select replace(cast(cast(getdate() as time) as nvarchar(8)),':','_')"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_Foreach_Loop_Container316__get_timestamp319__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Foreach_Loop_Container316__get_timestamp319__SCRIP",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "TimeStamp",
            "value" : "@activity('Foreach_Loop_Container316__get_timestamp319__SCRIP').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "_COPYDATAForeach_Loop_Container316__File_System_Ta",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "0_Foreach_Loop_Container316__get_timestamp319__VA",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow._COPYDATAForeach_Loop_Container316__File_System_Ta_source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow._COPYDATAForeach_Loop_Container316__File_System_Ta_source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "Foreach_Loop_Container316__File_System_Task318__DE",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "_COPYDATAForeach_Loop_Container316__File_System_Ta",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        } ],
        "isSequential" : true
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_22_07/Vulnerability_ETL_v2022"
    },
    "parameters" : { },
    "variables" : {
      "sFileLCMNew" : {
        "type" : "string"
      },
      "NewWeekLCM" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "FileName" : {
        "type" : "string"
      },
      "ArchiveUpdates" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\Updates_.csv'"
      },
      "sArchiveUpdates" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\NewLCM_.csv'"
      },
      "TimeStamp" : {
        "type" : "string"
      }
    }
  }
}