pipeline/PPL_CARDB_PrismaCloudVulns.json
{
  "name" : "PPL_CARDB_PrismaCloudVulns",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL3_') AS vwPrisma_Enriched_Infra_DateFiltered_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL3_') AS vwPrisma_Enriched_Infra_DateFiltered_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL3_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL3_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL_14_') AS vwPrisma_Enriched_Infra_DateFiltered_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrisma_Enriched_Infra_DateFiltered_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL_14_') AS vwPrisma_Enriched_Infra_DateFiltered_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL_14_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'Prisma_ETL_14_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrismaRegistry_Enriched_Infra_DateFiltered_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ETL_PrismaRegistry7_') AS vwPrismaRegistry_Enriched_Infra_DateFiltered_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'vwPrismaRegistry_Enriched_Infra_DateFiltered_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ETL_PrismaRegistry7_') AS vwPrismaRegistry_Enriched_Infra_DateFiltered_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ETL_PrismaRegistry7_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'ETL_PrismaRegistry7_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ETL_PrismaRegistry7__source_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ETL_PrismaRegistry7_') AS OLE_DB_Destination_ETL_PrismaRegistry7__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ETL_PrismaRegistry7__source_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ETL_PrismaRegistry7_') AS OLE_DB_Destination_ETL_PrismaRegistry7__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ETL_PrismaRegistry7__sink_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ETL_PrismaRegistry7_') AS OLE_DB_Destination_ETL_PrismaRegistry7__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_ETL_PrismaRegistry7__sink_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_ETL_PrismaRegistry7_') AS OLE_DB_Destination_ETL_PrismaRegistry7__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL3__source_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL3_') AS OLE_DB_Destination_Prisma_ETL3__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL3__source_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL3_') AS OLE_DB_Destination_Prisma_ETL3__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL3__sink_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL3_') AS OLE_DB_Destination_Prisma_ETL3__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL3__sink_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL3_') AS OLE_DB_Destination_Prisma_ETL3__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL_14__source_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL_14_') AS OLE_DB_Destination_Prisma_ETL_14__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL_14__source_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL_14_') AS OLE_DB_Destination_Prisma_ETL_14__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL_14__sink_SchemaName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL_14_') AS OLE_DB_Destination_Prisma_ETL_14__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Prisma_ETL_14__sink_TableName' AND PIPELINE_NAME = 'CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'OLE_DB_Destination_Prisma_ETL_14_') AS OLE_DB_Destination_Prisma_ETL_14__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Execute_SQL_Task2__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "TRUNCATE TABLE dbo.tbl_Prisma_Enriched_TCOO_TDATA"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "Prisma_ETL3_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Execute_SQL_Task2__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Prisma_ETL3_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma_ETL3_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Prisma_ETL3_",
          "type" : "DataFlowReference",
          "parameters" : {
            "Variable1" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "Variable" : {
              "type" : "Expression",
              "value" : "0"
            },
            "ExecutionFlag" : {
              "type" : "Expression",
              "value" : "0"
            },
            "StageViewCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "RegistryCount" : {
              "type" : "Expression",
              "value" : "0"
            }
          },
          "datasetParameters" : {
            "vwPrismaEnrichedInfraDateFiltered" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "vwPrisma_Enriched_Infra_DateFiltered",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "OLE_DB_Destination_Prisma_ETL3_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma_ETL3_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL3__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL3__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL3__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL3__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "Sequence_Container5_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_Prisma_ETL3_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Sequence_Container5__Check_Source_Availability6__S",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SELECT COUNT(*) as reccount \nFROM  CAR_VulnRepts.dbo.vwPrismaRegistry_VulnsEnriched_Infra_DateFiltered \"With\"(NoLock)\nWHERE        (cost_center_cio LIKE 'TECHCOO%' OR\n                         cost_center_cio LIKE 'TECHCDOT%') AND is_compliant = 'No'"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_Sequence_Container5__Check_Source_Availability6_",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container5__Check_Source_Availability6__S",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "RegistryCount",
            "value" : "@activity('Sequence_Container5__Check_Source_Availability6__S').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "IFACTIVITY_Sequence_Container5__Truncate_PrismaReg",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_Sequence_Container5__Check_Source_Availability6_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@greater(variables('RegistryCount'),0)",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "Sequence_Container5__Truncate_PrismaRegistry_Enric",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : "TRUNCATE TABLE dbo.tbL_PrismaRegistry_Enriched"
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "ETL_PrismaRegistry7_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "IFACTIVITY_Sequence_Container5__Truncate_PrismaReg",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_abc",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "ETL_PrismaRegistry7_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "ETL_PrismaRegistry7_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "ETL_PrismaRegistry7_",
              "type" : "DataFlowReference",
              "parameters" : {
                "Variable1" : {
                  "type" : "Expression",
                  "value" : "'                                                                                                                                                                                    '"
                },
                "Variable" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "ExecutionFlag" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "StageViewCount" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "RegistryCount" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : {
                "OLEDBDestination" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "vwPrismaRegistryEnrichedInfraDateFiltered" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaRegistryEnrichedInfraDateFiltered_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaRegistryEnrichedInfraDateFiltered_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "vwPrismaRegistry_Enriched_Infra_DateFiltered",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "OLE_DB_Destination_ETL_PrismaRegistry7_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "ETL_PrismaRegistry7_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ETL_PrismaRegistry7__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ETL_PrismaRegistry7__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ETL_PrismaRegistry7__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_ETL_PrismaRegistry7__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ]
      }
    }, {
      "name" : "Prisma_ETL_14_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_Prisma_ETL3_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Prisma_ETL_14_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma_ETL_14_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Prisma_ETL_14_",
          "type" : "DataFlowReference",
          "parameters" : {
            "Variable1" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "Variable" : {
              "type" : "Expression",
              "value" : "0"
            },
            "ExecutionFlag" : {
              "type" : "Expression",
              "value" : "0"
            },
            "StageViewCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "RegistryCount" : {
              "type" : "Expression",
              "value" : "0"
            }
          },
          "datasetParameters" : {
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "vwPrismaEnrichedInfraDateFiltered" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.vwPrismaEnrichedInfraDateFiltered_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "vwPrisma_Enriched_Infra_DateFiltered",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "OLE_DB_Destination_Prisma_ETL_14_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prisma_ETL_14_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL_14__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL_14__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL_14__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Prisma_ETL_14__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest/COO_VulnPackages"
    },
    "parameters" : { },
    "variables" : {
      "RegistryCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      }
    }
  }
}