pipeline/PPL_Server_Relationship_View.json
{
  "name" : "PPL_Server_Relationship_View",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Source_SchemaName' AND PIPELINE_NAME = 'Server_Relationship_View' AND DATAFLOW_NAME = 'Data_Flow_Task46_') AS OLE_DB_Source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Source_TableName' AND PIPELINE_NAME = 'Server_Relationship_View' AND DATAFLOW_NAME = 'Data_Flow_Task46_') AS OLE_DB_Source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Server_Relationship_Static_SchemaName' AND PIPELINE_NAME = 'Server_Relationship_View' AND DATAFLOW_NAME = 'Data_Flow_Task46_') AS Server_Relationship_Static_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Server_Relationship_Static_TableName' AND PIPELINE_NAME = 'Server_Relationship_View' AND DATAFLOW_NAME = 'Data_Flow_Task46_') AS Server_Relationship_Static_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Server_Relationship_Static_Data_Flow_Task46__source_SchemaName' AND PIPELINE_NAME = 'Server_Relationship_View' AND DATAFLOW_NAME = 'Server_Relationship_Static_Data_Flow_Task46_') AS Server_Relationship_Static_Data_Flow_Task46__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Server_Relationship_Static_Data_Flow_Task46__source_TableName' AND PIPELINE_NAME = 'Server_Relationship_View' AND DATAFLOW_NAME = 'Server_Relationship_Static_Data_Flow_Task46_') AS Server_Relationship_Static_Data_Flow_Task46__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Server_Relationship_Static_Data_Flow_Task46__sink_SchemaName' AND PIPELINE_NAME = 'Server_Relationship_View' AND DATAFLOW_NAME = 'Server_Relationship_Static_Data_Flow_Task46_') AS Server_Relationship_Static_Data_Flow_Task46__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Server_Relationship_Static_Data_Flow_Task46__sink_TableName' AND PIPELINE_NAME = 'Server_Relationship_View' AND DATAFLOW_NAME = 'Server_Relationship_Static_Data_Flow_Task46_') AS Server_Relationship_Static_Data_Flow_Task46__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Truncate_reload47__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "TRUNCATE TABLE [PLHS].[dbo].[tbl_Vuln_Server_OwnerRelationship_Daily]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "Data_Flow_Task46_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Truncate_reload47__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_abc",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Data_Flow_Task46_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Data_Flow_Task46_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlsource",
          "sqlReaderQuery" : "SELECT * ,GETDATE() AS Import_Date,CAST(APP_CIO as VARCHAR) AS {Derived Column 1} FROM DBO.VW_VULN_SERVER_OWNERRELATIONSHIP"
        },
        "sink" : {
          "type" : "AzureSqlSink",
          "writeBehavior" : "insert",
          "sqlWriterUseTableLock" : false
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_SRC",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "Server_Relationship_Static_Data_Flow_Task46_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Data_Flow_Task46_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Server_Relationship_Static_Data_Flow_Task46__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Server_Relationship_Static_Data_Flow_Task46__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Server_Relationship_Static_Data_Flow_Task46__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.Server_Relationship_Static_Data_Flow_Task46__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    } ],
    "folder" : {
      "name" : "ssistoadf/punamdtest/COO_VulnPackages"
    },
    "parameters" : { },
    "variables" : { }
  }
}